<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>소소한 일상의 변화. WeMeet!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

    <link rel="stylesheet" th:href="@{/resources/stylesheets/article.css}">
    <script defer th:src="@{/resources/scripts/article.js}"></script>
    <script defer th:src="@{/resources/scripts/logout.js}"></script>


</head>
<body>
<form id="Article">
<div class="_container" id="headerContainer">
    <header class="_content header">
        <ul class="menu left">
            <li class="item main-menu">
                <label class="icon-text-button">
                    <a class="icon-box" href="/">
                        <img th:src="@{/resources/images/logoImages/logo-224x80.png}" class="icon">
                    </a>
                </label>
            </li>
        </ul>
        <ul class="menu right" th:if="${session.user == null}">
            <li class="item">
                <a href="#" class="icon-text-button">
                    <span class="text">회원가입</span>
                </a>
            </li>
            <li class="item">
                <a class="icon-text-button" href="#">
                    <span class="text">로그인</span>
                </a>
            </li>

        </ul>
        <ul class="menu right" th:if="${session.user != null}">
            <li class="item">
                <a href="#" class="icon-text-button">
                    <div class="profile">
                        프로필
                    </div>
                </a>
            </li>
            <li class="item">
                <button>
                    <a href="/write">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    </a>
                </button>
            </li>
            <li class="item">
                <button data-action="logout">
                    <a href="">
                        <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                    </a>
                </button>
            </li>

        </ul>
    </header>
</div>

    <section class="article-category">
        <div class="introduce_article">
            <div class="notice-title margin">게시판</div>
            <div class="notice-text margin">새로운 변화로 바뀌는</div>
            <div class="notice-text margin">새로운 일상을</div>
            <div class="notice-miniText margin">누구나 즐겨요</div>
            <div class="notice-miniText margin">We-Meet</div>
            <ul class="category">

                <li class="category-item">
                        전체
                </li>

                <li class="category-item">
                    <img class="category-img" th:src="@{/resources/images/category/activity.png}">
                        영화
                </li>

                <li class="category-item">
                    <img class="category-img" th:src="@{/resources/images/category/art.png}">
                        게임
                </li>

                <li class="category-item">
                    <img class="category-img" th:src="@{/resources/images/category/trip.png}">
                        운동
                </li>

                <li class="category-item">
                    <img class="category-img" th:src="@{/resources/images/category/study.png}">
                        산책
                </li>

                <li class="category-item">
                    <img class="category-img" th:src="@{/resources/images/category/eat.png}">
                        식사
                </li>

                <li class="category-item">
                    <img class="category-img" th:src="@{/resources/images/category/hobby.png}">
                        만남
                </li>

                <li class="category-item">
                    <img class="category-img" th:src="@{/resources/images/category/all.png}">
                    완료
                </li>
            </ul>
        </div>
    </section>

    <section class="article-container">
    <div class="slider">
        <div class="slide">
            <div class="article-box">
                <div class="article-list" th:each="article : ${article}">
                    <a class="article-link" th:href="@{article/read(index=${article.getIndex()})}">
                    <div class="article-thumbnail">
                        <img class="thumbnail" th:src="@{article/image(index=${article.getIndex()})}" alt="Thumbnail">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag" th:text="${article.getHashtag()}">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content" th:text="${article.getTitle()}"></span>
                        <span class="article-map">
              <span th:text="${article.getCategory()}">카테고리</span>
              <span th:text="${article.getAddress()}">위치</span>
              <div th:text="${#dates.format(article.getAppointmentStartDate(), 'yyyy년 MM월 dd일')}"></div>
              <span th:text="${#dates.format(article.getAppointmentStartTime(), 'HH시 mm분')}"></span>
            </span>
             <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
                  <span class="Profile-Picture">
              <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                     <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                   <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>

              <img class="limit-image" th:src="@{/resources/images/category/human.png}">
              <span class="number">
                <span th:text="${article.getParticipation()}"></span>
                <span>/</span>
                <span th:text="${article.getLimitPeople()}"></span>
                <!-- 제한인원 제한 걸때 value??  -->
              </span>
              </span>
                    </div>
                    </a>
                </div>
            </div>
        </div> <!--전체-->

        <div class="slide">
            <div class="article-box">
                <div class="article-list"  th:each="article : ${articleMovie}">
                    <a class="article-link" th:href="@{article/read(index=${article.getIndex()})}">
                        <div class="article-thumbnail">
                            <img class="thumbnail" th:src="@{article/image(index=${article.getIndex()})}" alt="Thumbnail">
                        </div>
                        <div class="article-content-box">
                            <div class="article-tag">
                                <span class="tag" th:text="${article.getHashtag()}">태그</span>
                                <span class="tag comment">추천!!</span>
                            </div>
                            <span class="article-content" th:text="${article.getTitle()}"></span>
                            <span class="article-map">
              <span th:text="${article.getCategory()}">카테고리</span>
              <span th:text="${article.getAddress()}">위치</span>
              <div th:text="${#dates.format(article.getAppointmentStartDate(), 'yyyy년 MM월 dd일')}"></div>
              <span th:text="${#dates.format(article.getAppointmentStartTime(), 'HH시 mm분')}"></span>
            </span>
                            <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
                  <span class="Profile-Picture">
              <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                     <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                   <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>

              <img class="limit-image" th:src="@{/resources/images/category/human.png}">
              <span class="number">
                <span th:text="${article.getParticipation()}"></span>
                <span>/</span>
                <span th:text="${article.getLimitPeople()}"></span>
                  <!-- 제한인원 제한 걸때 value??  -->
              </span>
              </span>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!--영화-->

        <div class="slide">
            <div class="article-box">
                <div class="article-list"  th:each="article : ${articleGame}">
                    <a class="article-link" th:href="@{article/read(index=${article.getIndex()})}">
                        <div class="article-thumbnail">
                            <img class="thumbnail" th:src="@{article/image(index=${article.getIndex()})}" alt="Thumbnail">
                        </div>
                        <div class="article-content-box">
                            <div class="article-tag">
                                <span class="tag" th:text="${article.getHashtag()}">태그</span>
                                <span class="tag comment">추천!!</span>
                            </div>
                            <span class="article-content" th:text="${article.getTitle()}"></span>
                            <span class="article-map">
              <span th:text="${article.getCategory()}">카테고리</span>
              <span th:text="${article.getAddress()}">위치</span>
              <div th:text="${#dates.format(article.getAppointmentStartDate(), 'yyyy년 MM월 dd일')}"></div>
              <span th:text="${#dates.format(article.getAppointmentStartTime(), 'HH시 mm분')}"></span>
            </span>
                            <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
                  <span class="Profile-Picture">
              <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                     <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                   <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>

              <img class="limit-image" th:src="@{/resources/images/category/human.png}">
              <span class="number">
                <span th:text="${article.getParticipation()}"></span>
                <span>/</span>
                <span th:text="${article.getLimitPeople()}"></span>
                  <!-- 제한인원 제한 걸때 value??  -->
              </span>
              </span>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!--게임-->

        <div class="slide">
            <div class="article-box">
                <div class="article-list"  th:each="article : ${articleSports}">
                    <a class="article-link" th:href="@{article/read(index=${article.getIndex()})}">
                        <div class="article-thumbnail">
                            <img class="thumbnail" th:src="@{article/image(index=${article.getIndex()})}" alt="Thumbnail">
                        </div>
                        <div class="article-content-box">
                            <div class="article-tag">
                                <span class="tag" th:text="${article.getHashtag()}">태그</span>
                                <span class="tag comment">추천!!</span>
                            </div>
                            <span class="article-content" th:text="${article.getTitle()}"></span>
                            <span class="article-map">
              <span th:text="${article.getCategory()}">카테고리</span>
              <span th:text="${article.getAddress()}">위치</span>
              <div th:text="${#dates.format(article.getAppointmentStartDate(), 'yyyy년 MM월 dd일')}"></div>
              <span th:text="${#dates.format(article.getAppointmentStartTime(), 'HH시 mm분')}"></span>
            </span>
                            <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
                  <span class="Profile-Picture">
              <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                     <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                   <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>

              <img class="limit-image" th:src="@{/resources/images/category/human.png}">
              <span class="number">
                <span th:text="${article.getParticipation()}"></span>
                <span>/</span>
                <span th:text="${article.getLimitPeople()}"></span>
                  <!-- 제한인원 제한 걸때 value??  -->
              </span>
              </span>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- 운동 -->

        <div class="slide">
            <div class="article-box">
                <div class="article-list"  th:each="article : ${articleWalk}">
                    <a class="article-link" th:href="@{article/read(index=${article.getIndex()})}">
                        <div class="article-thumbnail">
                            <img class="thumbnail" th:src="@{article/image(index=${article.getIndex()})}" alt="Thumbnail">
                        </div>
                        <div class="article-content-box">
                            <div class="article-tag">
                                <span class="tag" th:text="${article.getHashtag()}">태그</span>
                                <span class="tag comment">추천!!</span>
                            </div>
                            <span class="article-content" th:text="${article.getTitle()}"></span>
                            <span class="article-map">
              <span th:text="${article.getCategory()}">카테고리</span>
              <span th:text="${article.getAddress()}">위치</span>
              <div th:text="${#dates.format(article.getAppointmentStartDate(), 'yyyy년 MM월 dd일')}"></div>
              <span th:text="${#dates.format(article.getAppointmentStartTime(), 'HH시 mm분')}"></span>
            </span>
                            <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
                  <span class="Profile-Picture">
              <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                     <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                   <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>

              <img class="limit-image" th:src="@{/resources/images/category/human.png}">
              <span class="number">
                <span th:text="${article.getParticipation()}"></span>
                <span>/</span>
                <span th:text="${article.getLimitPeople()}"></span>
                  <!-- 제한인원 제한 걸때 value??  -->
              </span>
              </span>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- 산책 -->

        <div class="slide">
            <div class="article-box">
                <div class="article-list"  th:each="article : ${articleEat}">
                    <a class="article-link" th:href="@{article/read(index=${article.getIndex()})}">
                        <div class="article-thumbnail">
                            <img class="thumbnail" th:src="@{article/image(index=${article.getIndex()})}" alt="Thumbnail">
                        </div>
                        <div class="article-content-box">
                            <div class="article-tag">
                                <span class="tag" th:text="${article.getHashtag()}">태그</span>
                                <span class="tag comment">추천!!</span>
                            </div>
                            <span class="article-content" th:text="${article.getTitle()}"></span>
                            <span class="article-map">
              <span th:text="${article.getCategory()}">카테고리</span>
              <span th:text="${article.getAddress()}">위치</span>
              <div th:text="${#dates.format(article.getAppointmentStartDate(), 'yyyy년 MM월 dd일')}"></div>
              <span th:text="${#dates.format(article.getAppointmentStartTime(), 'HH시 mm분')}"></span>
            </span>
                            <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
                  <span class="Profile-Picture">
              <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                     <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                   <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>

              <img class="limit-image" th:src="@{/resources/images/category/human.png}">
              <span class="number">
                <span th:text="${article.getParticipation()}"></span>
                <span>/</span>
                <span th:text="${article.getLimitPeople()}"></span>
                  <!-- 제한인원 제한 걸때 value??  -->
              </span>
              </span>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- 식사 -->

        <div class="slide">
            <div class="article-box">
                <div class="article-list"  th:each="article : ${articleMeet}">
                    <a class="article-link" th:href="@{article/read(index=${article.getIndex()})}">
                        <div class="article-thumbnail">
                            <img class="thumbnail" th:src="@{article/image(index=${article.getIndex()})}" alt="Thumbnail">
                        </div>
                        <div class="article-content-box">
                            <div class="article-tag">
                                <span class="tag" th:text="${article.getHashtag()}">태그</span>
                                <span class="tag comment">추천!!</span>
                            </div>
                            <span class="article-content" th:text="${article.getTitle()}"></span>
                            <span class="article-map">
              <span th:text="${article.getCategory()}">카테고리</span>
              <span th:text="${article.getAddress()}">위치</span>
              <div th:text="${#dates.format(article.getAppointmentStartDate(), 'yyyy년 MM월 dd일')}"></div>
              <span th:text="${#dates.format(article.getAppointmentStartTime(), 'HH시 mm분')}"></span>
            </span>
                            <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
                  <span class="Profile-Picture">
              <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                     <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>
              <span class="Profile-Picture">
                   <img class="Profile" th:src="@{/resources/images/profileImages/다운로드.png}">
              </span>

              <img class="limit-image" th:src="@{/resources/images/category/human.png}">
              <span class="number">
                <span th:text="${article.getParticipation()}"></span>
                <span>/</span>
                <span th:text="${article.getLimitPeople()}"></span>
                  <!-- 제한인원 제한 걸때 value??  -->
              </span>
              </span>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- 만남 -->

    </div>
    </div>
</section>
</form>


</body>
</html>

