<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 작성</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/Article-Write.css}">
    <script defer th:src="@{/resources/scripts/Article-Write.js}"></script>
</head>
<body>
<form id="Article-Form">
    <div class="write-title">
        <img class="logo" src="/resources/images/loginImages/lastLogo.jpg">
    </div>
    <section>
        <div class="thumbnail-place">
            <img id="thumbnail-preview" class="thumbnail" src="/resources/images/articleImages/thumbnail.jpg">
            <label for="photo-upload" class="thumbnail-upload">썸네일 변경</label>
            <input type="file" class="thumbnail-change" id="photo-upload" accept="image/*">
        </div>
        <div id="Article-Write">
            <input autocomplete="off" name="ArticleTitle" autofocus class="title" type="text" placeholder="제목을 입력하세요">
            <textarea name="content" id="editor" placeholder="내용을 입력해주세요"></textarea>
            <div class="article-tag">
                <div class="explainTag">태그를 입력해주세요 (최대 5개)</div>
            </div>
            <input class="submit" type="submit" value="등록">
        </div>
    </section>
</form>

</body>
</html>