<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 작성</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/Article-Write.css}">
    <script defer th:src="@{/resources/scripts/Article-Write.js}"></script>
</head>
<body>

<section>
    <div class="thumbnail-place">
        <img id="thumbnail-preview" class="thumbnail" src="/resources/images/articleImages/thumbnail.jpg">
        <input class="thumbnail-change" type="file" id="photo-upload" accept="image/*">
    </div>

    <form id="Article-Write">
        <input name="ArticleTitle" autofocus class="title" type="text" placeholder="제목을 입력하세요">
        <textarea name="content" id="editor" placeholder="내용을 입력해주세요"></textarea>
        <div class="article-tag"></div>
        <input class="submit" type="submit" value="등록">
    </form>
</section>

</body>
</html>