<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email 확인</title>
    <link rel="stylesheet" href="/resources/stylesheets/confirmEmail.css">
</head>
<body>
<form>
    <div class="container">
        <a th:href="@{/login}">
        <img th:src="@{/resources/images/loginImags/lastLogo.jpg}" alt="wemeet">
        </a>
        <div class="content">
            <span th:text="${responseObject.name}"></span>
            <span>의 email은</span>
            <b th:text="${responseObject.email}"></b>
            <span>입니다.</span>
        </div>
<span>이거는 아무것도 나오지 않아서 당황해서 아무거나 적은 곳이다 </span>
        <div class="linkBox">
            <a th:href="@{/login}">
                <p>로그인 화면으로 돌아가기</p>
            </a>
        </div>
    </div>
</form>

</body>
</html>