<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>소소한 일상의 변화. WeMeet!</title>

    <link rel="stylesheet" href="/resources/stylesheets/mainStyle.css">
    <link rel="stylesheet" href="/resources/stylesheets/mainMenu.css">
    <link rel="icno" href="/resources/images/mainImages/favicon-16x16.png">

    <script defer src="/resources/scripts/slide.js"></script>
    <script defer src="/resources/scripts/article.js"></script>
    <script defer th:src="@{/resources/scripts/logout.js}"></script>
</head>

<body>
<div class="logo-container" id="logo-container">
    <div class="container">
        <div class="logo">
            <img src="/resources/images/logoImages/logo-224x80.png" alt="logo">
        </div>
        <ul class="menu right" th:if="${session.user == null}">
            <li class="item">
                <a class="icon-text-button" href="/login">
                    <span class="text">로그인</span>
                </a>
            </li>
            <li class="item">
                <a href="/register/" class="icon-text-button">
                    <span class="text">회원가입</span>
                </a>
            </li>
        </ul>
        <ul class="menu right" th:if="${session.user != null}">
            <li class="item">
                <a href="/" class="icon-text-button">
                    <span class="text">나의 프로필</span>
                </a>
            </li>
            <li class="item" data-action="logout">
                <a>
                    <span>로그아웃</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--<div class="_container header-container" id="headerContainer">-->
<!--    <header class="_content header">-->
<!--        &lt;!&ndash;        <ul class="menu left">&ndash;&gt;-->
<!--        &lt;!&ndash;            <li class="item main-menu">&ndash;&gt;-->
<!--        &lt;!&ndash;                <label class="icon-text-button" for="mainMenuToggle">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <img alt="" src="/resources/images/mainImages/menu.png" class="icon">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <span class="text">메뉴</span>&ndash;&gt;-->
<!--        &lt;!&ndash;                </label>&ndash;&gt;-->
<!--        &lt;!&ndash;            </li>&ndash;&gt;-->
<!--        &lt;!&ndash;        </ul>&ndash;&gt;-->
<!--        <div class="empty-box1"></div>-->
<!--        <ul class="menu left">-->

<!--            <li class="item main-menu">-->
<!--                <label class="icon-text-button" for="mainMenuToggle">-->
<!--                    <a class="icon-box" href="/">-->
<!--                        <span style="width:25rem; height: 20rem; border:1px solid red; color:red;">alksjkasdfsadfasdfasdfadslasdf</span>-->
<!--                    </a>-->
<!--                </label>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <div class="empty-box2"></div>-->
<!--        <ul class="menu right" th:if="${session.user == null}">-->
<!--            <li class="item">-->
<!--                <a href="/register/" class="icon-text-button">-->
<!--                    <span class="text">로그인</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="item">-->
<!--                <a class="icon-text-button" href="/login">-->
<!--                    <span class="text">회원가입</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <ul class="menu right" th:if="${session.user != null}">-->
<!--            <li class="item">-->
<!--                <a href="/" class="icon-text-button">-->
<!--                    <span class="text">나의 프로필</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="item" data-action="logout">-->
<!--                <a>-->
<!--                    <p>로그아웃</p>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </header>-->
<!--</div>-->

<div class="slider-container">
    <div class="slider">
        <div class="slide slide1">
            <video autoplay loop muted src="/resources/images/testImages/광고영상.mp4"></video>
        </div>
        <div class="slide slide2">
            <img src="/resources/images/mainImages/starlight.jpg" alt="별보러갈래">
        </div>
        <div class="slide slide3">
            <img src="/resources/images/mainImages/camping.jpg" alt="캠핑제휴할인">
        </div>
        <div class="slide slide4">
            <img src="/resources/images/mainImages/runTogether.jpg" alt="운동이벤트">
        </div>
    </div>

</div>

<div class="navigation-buttons">
    <div class="navigation-button for-margin"></div>
    <div class="navigation-button for-margin"></div>
    <div class="navigation-button"></div>
</div>

<div class="_container category-container" id="categoryContainer">
    <div class="_content _small category">

        <ul class="grid">
            <li class="item">
                <a class="link" th:href="@{/article}">
                    <img alt="전체" class="image" src="../resources/images/testImages/전체.png">
                    <span class="text">전체</span>
                </a>
            </li>
            <li class="item">
                <a class="link" th:href="@{/article}">
                    <img alt="운동·액티비티" class="image" src="../resources/images/testImages/운동.png">
                    <span class="text">운동·액티비티</span>
                </a>
            </li>
            <li class="item">
                <a class="link" th:href="@{/article}">
                    <img alt="푸드·드링크" class="image" src="../resources/images/testImages/음식.png">
                    <span class="text">푸드·드링크</span>
                </a>
            </li>
            <li class="item">
                <a class="link" th:href="@{/article}">
                    <img alt="문화·예술" class="image" src="../resources/images/testImages/문화예술.png">
                    <span class="text">문화·예술</span>
                </a>
            </li>
            <li class="item">
                <a class="link" th:href="@{/article}">
                    <img alt="취미·자기개발" class="image" src="../resources/images/testImages/취미.png">
                    <span class="text">취미·자기개발</span>
                </a>
            </li>
            <li class="item">
                <a class="link" th:href="@{/article}">
                    <img alt="온라인" class="image" src="../resources/images/testImages/온라인.png">
                    <span class="text">온라인</span>
                </a>
            </li>
            <li class="item">
                <a class="link" th:href="@{/article}">
                    <img alt="여행" class="image" src="../resources/images/testImages/여행.png">
                    <span class="text">여행</span>
                </a>
            </li>
            <li class="item">
                <a class="link" th:href="@{/article}">
                    <img alt="완료" class="image" src="../resources/images/testImages/완료.png">
                    <span class="text">완료</span>
                </a>
            </li>
        </ul>
    </div>
</div>


<section class="article-container">
    <h2 class="article-list-header">똑같은 일상의 소소한 변화</h2>
    <div class="slider">
        <div class="slide">
            <div class="article-box">
                <a th:href="@{/bulletin}" class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </a>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">그런거없다</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">

              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
                <div class="article-list">
                    <div class="article-thumbnail">
                        <img class="thumbnail" src="/resources/images/mainImages/조보아.jpg">
                    </div>
                    <div class="article-content-box">
                        <div class="article-tag">
                            <span class="tag">태그</span>
                            <span class="tag comment">추천!!</span>
                        </div>
                        <span class="article-content"><h2 class="article-content-title">장문복이랑 놀러갈 사람?</h2></span>
                        <div class="article-map">
                            <span class="map-item">카테고리</span>
                            <span class="map-item">위치</span>
                            <span class="map-item">날짜</span>
                            <span class="map-item">시간</span>
                        </div>
                        <span class="article-human">
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                  <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
                <span class="Profile-Picture">
                 <img class="Profile" src="/resources/images/mainImages/조보아.jpg">
              </span>
              <img class="limit-image" src="/resources/images/category/human.png">
              <span class="number">
                <span class="map-item">0</span>
                <span class="map-item">/</span>
                <span class="map-item">0</span>
              </span>
              </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="wrap">
        <div class="grid-twin">
            <p class="about-info about-a-tag">위밋 정보</p>
            <p class="about-info"><a class="about-a-tag" href="#">공지사항</a></p>
            <p class="about-info"><a class="about-a-tag" href="#">이벤트</a></p>
            <p class="about-info"><a class="about-a-tag" href="#">자주 묻는 질문</a></p>
            <p class="about-info"><a class="about-a-tag" href="#">제휴 및 입점 문의</a></p>
            <p class="about-info"><a class="about-a-tag" href="#">채용</a></p>
        </div>
        <div class="grid-twin">
            <p class="about-info about-a-tag">소셜 미디어</p>
            <p class="about-info"><a class="about-a-tag" href="#">인스타그램</a></p>
            <p class="about-info"><a class="about-a-tag" href="#">네이버 블로그</a></p>
        </div>
        <div class="grid-twin big">
            <p class="about-info about-a-tag second-info">㈜ 위밋</p>
            <p class="about-info small-info second-info">대표 : 카직스 | 개인정보관리책임자 : 자르반 <br>
                이메일 : leageOfLegend@gmail.com | 대표번호 : 010-4989-4989 <br>
                주소 : 뉴욕광역시 맨해튼구 덕산동 29-2 스타크타워 10층 <br>
                사업자등록번호 : 123-23-12321 | 통신판매 : 제 2023-뉴욕맨해튼-12321 <br>
                고객센터 : @카카오톡채널 | 운영시간 : (월~금)오전 9:00~오후 6:00/(주말 및 공휴일)오전 8:00~오후 7:00</p>
            <p class="about-info"><a class="last-a-tag" href="#">이용약관</a> | <a class="last-a-tag" href="#">개인정보처리방침</a>
                | <a class="last-a-tag" href="#">사업자정보확인</a></p>
        </div>
    </div>
</footer>
</body>
</html>
