<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 수정</title>
    <link crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/Article-Write.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/write.css}">
    <link rel="icon" th:href="@{/resources/images/favicon/favicon.png}" type="image/x-icon">
    <script defer th:src="@{/resources/scripts/Patch-Article/Patch-write.js}"></script>
    <script th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/resources/scripts/map.js}"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ecdfc98a188ee7f356932f3bc0506125&libraries=services"></script>
</head>
<body>
<div class="inner">
    <h2 class="logo_we_meet">
        <a href="http://localhost:6795/" class="link">
            <img th:src="@{/resources/images/logoImages/logo-224x48.png}" class="logo"/>
        </a>
    </h2>
    <div class="container">
        <form id="writeForm">
            <main class="box step-1">
                <div id="content" class="content">
                    <div class="input-wrapper">
                        <div class="sub_title">지도에서 장소를 검색해 주세요</div>
                        <input readonly type="text" class="input place" placeholder="장소(지도에서 장소를 검색해 주세요)" name="place" th:value="${article.getPlace()}">
                        <input readonly type="text" class="input address" placeholder="주소" name="address" th:value="${article.getAddress()}">
                        <span class="sub_title">날짜와 시간을 선택해 주세요</span>
                        <div class="dayBox">
                            <input id="dateInput" type="date" class="day" name="day" th:value="${#dates.format(article.getAppointmentStartDate(), 'yyyy-MM-dd')}">
                        </div>
                        <div class="sub_title">시간을 설정해주세요</div>
                        <div class="timeBox">
                            <input type="time" class="time" name="time" th:value="${#dates.format(article.getAppointmentStartTime(), 'HH:mm:ss')}">
                        </div>
                        <div class="sub_title">참여인원과 카테고리를 설정해주세요</div>
                        <div class="etc">
                            <div class="box_one">
                                <span class="text">제한인원</span>
                                <input type="number" class="limit" name="limit" min="2" th:value="${article.getLimitPeople()}">
                            </div>
                            <div class="box_two">
                                <span class="text">카테고리</span>
                                <select name="category" class="category" >
                                    <option value="영화" th:selected="${article.getCategory().equals('영화')}">영화</option>
                                    <option value="게임" th:selected="${article.getCategory().equals('게임')}">게임</option>
                                    <option value="운동" th:selected="${article.getCategory().equals('운동')}">운동</option>
                                    <option value="산책" th:selected="${article.getCategory().equals('산책')}">산책</option>
                                    <option value="식사" th:selected="${article.getCategory().equals('식사')}">식사</option>
                                    <option value="만남" th:selected="${article.getCategory().equals('만남')}">만남</option>
                                </select>
                            </div>
                        </div>
                        <input readonly name="lat"  maxlength="50" placeholder="경도" class="latitude" th:value="${article.getLatitude()}">
                        <input readonly name="lng"  maxlength="50" placeholder="위도" class="longitude" th:value="${article.getLongitude()}">

                    </div>
                </div>
            </main>
        </form>
        <div class="mapBox">
            <div class="map_wrap">
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                <div id="menu_wrap" class="bg_white">
                    <div class="option">
                        <div>
                            <form id="searchForm">
                                키워드 : <input type="text" placeholder="키워드 검색" name="keyword" size="15">
                                <input type="submit" value="검색하기">
                            </form>
                        </div>
                    </div>
                    <hr>
                    <ul id="placesList"></ul>
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttonBox">
        <input type="submit" value="취소" class="_button cancel" onclick="goBack()">
        <input type="submit" value="다음" class="_button next">
    </div>
</div>

<form id="Article-Form" style="display: none">
    <img class="logo" th:src="@{/resources/images/logoImages/logo-224x48.png}">
    <section>

        <div class="thumbnail-place">
            <img class="thumbnail" th:src="@{/article/image(index=${article.getIndex()})}">
            <label for="photo-upload" class="thumbnail-upload">썸네일 변경</label>
            <input type="file" name="upload" class="thumbnail-change" id="photo-upload" accept="image/*">
        </div>
        <div id="Article-Write">
            <input autocomplete="off" name="title" autofocus class="title" type="text"
                   placeholder="제목을 입력하세요" th:value="${article.getTitle()}">
            <textarea name="content" placeholder="내용을 입력해주세요" th:utext="${article.getContent()}"></textarea>
            <div class="article-tag">
                <div class="explainTag">태그를 입력해주세요</div>

                <div class="tags">
                </div>

            </div>
            <div class="buttons">
                <input class="submit" type="button" value="이전">
                <input class="submit" name="patch" type="submit" value="수정" th:data-index="${article.getIndex()}">
            </div>
        </div>
    </section>
</form>

</body>
</html>