<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>프로필</title>
</head>
<body>
    <div class="logoBox">
        로고 있는 머릿글 채우기
    </div>
    <div class="statusBox">
        <div class="BoxLeft">왼쪽</div>
        <div class="BoxRight">오른쪽</div>
    </div>
    <div class="noticeBoard">
        게시글 채우기
    </div>


</body>
</html>