<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>프로필</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/profile.css}">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/resources/scripts/profile.js}"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
</head>
<body>
<div id="dialogCoverP"></div>
<div class="__body" data-mz-step="address" id="addressLayerP">

</div>
<div class="_container top-menu-container" id="topMenuContainer1">
    <ul class="_content top-menu">
        <li class="alarm">
            <a href="/" class="link">
                <img class="alarm" th:src="@{/resources/images/profileImages/icons8-alarm-60.png}" alt="">
            </a>
        </li>
    </ul>
</div>
<form id="popup">
    <div class="popup-content step-1">
        <h3 class="title">비밀번호 재확인</h3>
        <label class="item">
            <input id="_object-input" class="_object-input input" maxlength="50" name="1checkPassword" placeholder="**********" type="password">
        </label>
        <div class="check">
            <input id="checkPassword" name="checkPasswordButton" class="checkPassword" type="button" value="확인">
        </div>
    </div>
    <div class="popup-content step-2" id="popup-content_step-2">
        <h3 class="title">개인 정보 수정</h3>
        <div class="profileImage">
            <img class="profile" rel="profileF" th:name="profile" th:src="@{/resources/images/profileImages/icons8-male-user-96.png}" alt="">
        </div>
        <label class="profile_file" rel="profilePreview">
            <label for="change_profile" class="change">프로필 바꾸기</label>
<!--                    <input hidden="hidden" type="file" id="profile" accept="image/*" name="profile">-->
            <input type="file" id="change_profile" class="change_profile" accept="image/*" name="change_profile">
            <label class="delete" rel="profileDelete">삭제</label>
        </label>
        <div class="__body" data-mz-step="info">
            <label class="_object-box">
                <input disabled readonly class="_object-input" type="email" spellcheck="false" th:value="${profile?.getEmail()}">
            </label>
            <span class="massage-box">이메일 주소는 변경할 수 없습니다.</span>
            <div class="new-password-container">
                <label class="_object-box">
                    <input class="_object-input" maxlength="50" name="infoPassword" placeholder="새로운 비밀번호를 입력해주세요." type="text">
                </label>
                <span class="_object-warning"></span>
                <label class="_object-box">
                    <input type="password" class="_object-input" maxlength="50" name="infoPasswordCheck" placeholder="새로운 비밀번호를 한 번 더 입력해주세요.">
                </label>
                <label class="_object-button">
                    <input type="button" name="changePassword" class="change" value="변경">
                </label>
                <span class="_object-warning"></span>
            </div>
            <label class="_object-box">
                <input disabled readonly class="_object-input" spellcheck="false" type="text" th:value="${profile?.getNickname()}">
            </label>
            <span class="message-box">닉네임은 변경할 수 없습니다.</span>
            <label class="_object-box">
                <input type="tel" disabled readonly class="_object-input" name="infoCurrentContact" spellcheck="false" th:value="${profile?.getContact()}">
            </label>
            <label class="_object-check-container">
                <input type="checkbox" class="_check-input" name="infoChangeContact">
                <span class="_checkbox"></span>
                <span class="_text">연락처 변경하기</span>
            </label>
            <div class="new-contact-container">
                <div class="multi-container">
                    <label class="_object-box">
                        <input type="tel" class="_object-input" maxlength="12" name="infoContact" placeholder="연락처 ('-' 없이)" spellcheck="false">
                    </label>
                    <input type="button" class="_object-button" name="infoContactSend" value="인증번호 전송">
                </div>
                <div class="multi-container">
                    <label class="_object-box">
                        <input disabled type="text" class="_object-input" maxlength="6" name="infoContactCode" placeholder="인증번호" spellcheck="false">
                    </label>
                    <input disabled  type="button" class="_object-button" name="infoContactVerify" value="인증번호 확인">
                </div>
                <label class="_object-button">
                    <input disabled type="button" name="changeContact" class="change" value="변경">
                </label>
                <span class="_object-warning"></span>
            </div>
            <div class="multi-container">
                <label class="_object-label _with-icon big">
                    <input readonly class="_object-input" maxlength="5" name="infoAddressPostal" placeholder="우편번호"
                           spellcheck="false" type="text" th:value="${session.user.getAddressPostal()}">
                </label>
                <input type="button" class="_object-button" name="infoAddressFind" value="우편번호 찾기">
            </div>
            <label class="_object-box">
                <input readonly class="_object-input" maxlength="100" name="infoAddressPrimary"
                       placeholder="기본 주소('우편번호 찾기' 버튼을 클릭해 주세요.)" spellcheck="false" type="text" th:value="${profile?.getAddressPrimary()}">
            </label>
            <label class="_object-box">
                <input type="text" class="_object-input" maxlength="100" name="infoAddressSecondary" placeholder="상세 주소(건물명, 동, 호수 등을 입력해 주세요.)" spellcheck="false"
                       th:value="${profile?.getAddressSecondary()}">
            </label>
            <label class="_object-button">
                <input type="button" name="changeAddress" class="change" value="변경">
            </label>
            <label class="_object-button">
                <input type="button" name="saveProfile" class="change" value="저장">
            </label>
            <span class="_object-warning"></span>
            <input hidden name="infoContactSalt" type="hidden">
            <div class="die">
                <input type="button" value="탈퇴" name="deleteUser" class="link">
            </div>
            <div class="finish">
                <input class="close" name="close" type="button" value="나가기" data-mz-close>
<!--                <input type="button" name="save" class="save" value="저장">-->
            </div>
        </div>
        <span class="cNotification" rel="cNotification"></span>
    </div>
</form>
<form class="main-container" id="mainContainer">
    <div class="left-profile">
        <div class="thumbnail">
            <div class="default" rel="thumbnailDefault">
                <img class="profile" rel="profile1" th:src="@{/resources/images/profileImages/icons8-male-user-96.png}" alt="">
            </div>
            <div class="pencil">
                <label class="pencil">
                    <img id="setting" class="change_button" th:src="@{/resources/images/profileImages/icons8-pencil-50.png}" alt="">
                </label>
            </div>
        </div>
        <div class="text-box" th:if="${session.user != null}">
            <span class="user-name" th:text="${profile?.getNickname()+'님'}"></span>
        </div>
    </div>
    <!--    <div class="middle-profile">-->
    <!--        <textarea class="intro" cols="25" rows="5"></textarea>-->
    <!--    </div>-->
    <div class="right-profileF">
        <a href="#postContainer" class="posts">참여한 게시물</a>
        <span class="postH">9</span>
    </div>
    <div class="right-profileS">
        <div class="item">
            <img class="like" th:src="@{/resources/images/profileImages/icons8-like-100.png}" alt="">
            <a href="#" class="likes">좋아요</a>
        </div>
        <div class="item">
            <img class="report" th:src="@{/resources/images/profileImages/icons8-warning-100.png}" alt="">
            <a href="#" class="reports">신고누적</a>
        </div>
    </div>
</form>
<div class="post-container" id="postContainer">
    <div class="postF">
        <div class="post1">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
        <div class="post2">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
        <div class="post3">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
    </div>
    <div class="postS">
        <div class="post1">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
        <div class="post2">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
        <div class="post3">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
    </div>
    <div class="postS">
        <div class="post1">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
        <div class="post2">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
        <div class="post3">
            <a class="link1" href="#">
                <img class="link" src="resources/images/다운로드.png" alt="">
            </a>
        </div>
    </div>
</div>
</body>
</html>