<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="/resources/stylesheets/review.css">
<!--    <script >-->
<!--        alert('리뷰를 작성하지 못하였습니다.');-->
<!--    </script>-->
    <script defer th:src="@{/resources/scripts/review.js}"></script>

</head>
<body>


<div class="allContainer" th:if="${session.user != null}">
    <div class="header">
        <a href="/">
            <img src="/resources/images/logoImages/bulletinLogo-244x48.png" alt="로고">
        </a>
        <div class="login">
            <a href="/login">로그인</a>
            <a href="/register/">회원가입</a>
        </div>
    </div>

    <div class="main-template">
        <div class="img-profile-title">
            <img src="https://post-phinf.pstatic.net/MjAxNzA0MTBfMTkg/MDAxNDkxNzk2OTY5MzEw.LIjCVhA5yvrWDEtF3oTyPOutbMxbzhm-Xg4V0rzxD5Qg.lW4lqBV3sHwHqqNAt11ruVyPcoj5H1mOw67nrc4Fqggg.JPEG/%EC%84%9C%EC%9A%B8-%EC%98%88%EC%81%9C-%EC%B9%B4%ED%8E%98-4.jpg?type=w1200"
                 alt="">
            <div class="profile-title">
                <div class="profile-img">
                    <a href="">
                        <img>
                    </a>
                    <p>쵸단</p>
                </div>
                <div class="bulletin-title">오늘 저녁 7시 30분 소환자의 계곡으로 떠납시다. 골드 2이하 오지마세요!</div>
            </div>
        </div>
        <div class="content">
            <div>소환자의 협곡에 여러분을 초대합니다.
                저는 현재 골드1~플4를 왔다갔다 하는 서폿,탑 유저입니다.
                혼자서 아무리 발악해바야 못올라가는걸 알고있습니다.
                이럴수록 뭉쳐서 맞서 싸워야합니다.
                데마시안의 이름으로 적들을 처단합시다.
                참고로 탑 티모
            </div>
        </div>
    </div>


    <div class="announcement">
        <div class="introduction">
            <p class="member">멤버소개</p>
            <p class="subTitle">오늘 처음이세요?</p>
            <div class="my">
                <a class="myImages">
                    <img src="/resources/images/bulletinImags/쵸단.png" alt="">
                </a>
                <div class="myIntroduction">
                    <p class="nickname">닉네임</p>
                    <p class="text">자신 소개글</p>
                </div>
            </div>
        </div>
        <div class="participant">
            <div class="participantContainer">
                <div class="login-after-human">
                    참여한 사람들의 목록
                </div>
            </div>
        </div>

        <div class="review">
            <div class="reviewContainer">
                <div class="reviewTitle">당신의 추억을 남겨주세요</div>
                <div class="reviewContent">
                    <div class="reviewBox"  >
                        <div class="core">
<!--                            <label>-->
<!--                                <input type="radio" name="rating" id="star10" value="5">-->
<!--                                <i class="fa-solid fa-star fa-xs"></i>-->
<!--                            </label>-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" id="star9" value="4">-->
<!--                                <i class="fa-solid fa-star fa-xs"></i>-->
<!--                            </label>-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" id="star8" value="3">-->
<!--                                <i class="fa-solid fa-star fa-xs"></i>-->
<!--                            </label>-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" id="star7" value="2">-->
<!--                                <i class="fa-solid fa-star fa-xs"></i>-->
<!--                            </label>-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" id="star6" value="1">-->
<!--                                <i class="fa-solid fa-star fa-xs"></i>-->
<!--                            </label>-->
                        </div>
                        <div class="estimate">소환자 협곡에서의 만남의 최고였습니다. 듀오를 하지못해 아쉽습니다. 그리고 탑티모 개못함</div>
                        <div class="writer">
                            <span class="profile">
                                <img src="" alt="이미지">
                            </span>
                        </div>
                        <div>
                            <a href="#">수정</a>
                            <a href="#">삭제</a>
                        </div>
                    </div>
                </div>
                <form class="reviewInput" method="post" id="reviewForm">
                    <input type="hidden" name="articleIndex" value="2">
                    <div class="fieldset">
                        <input type="radio" name="reviewStar" value="5" id="rate1"><label
                            for="rate1">★</label>
                        <input type="radio" name="reviewStar" value="4" id="rate2"><label
                            for="rate2">★</label>
                        <input type="radio" name="reviewStar" value="3" id="rate3"><label
                            for="rate3">★</label>
                        <input type="radio" name="reviewStar" value="2" id="rate4"><label
                            for="rate4">★</label>
                        <input type="radio" name="reviewStar" value="1" id="rate5"><label
                            for="rate5">★</label>
                    </div>
                        <input class="text" type="text" name="content">
                        <input class="button" type="submit" value="등록">
                </form>
            </div>
        </div>
    </div>


</div>


</body>


</body>
</html>