<!DOCTYPE html>
<html lang="KO" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>We-Meet 게시글 작성</title>
    <link crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/write.css}">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ecdfc98a188ee7f356932f3bc0506125&libraries=services"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/resources/scripts/write.js}"></script>
    <script defer th:src="@{/resources/scripts/map.js}"></script>
</head>
<body>

<div id="writeForm" class="container">
    <h2 class="logo_we_meet">
        <a href="http://localhost:6795/" class="link">
            <img th:src="@{/resources/images/registerImags/logo.jpg}" class="logo"/>
        </a>
    </h2>
    <div class="inner">
        <main class="box step-1">
            <div id="content" class="content">
                <div class="input-wrapper">
                    <input disabled type="text" class="addressPrimary input" placeholder="장소이름">
                    <input disabled type="text" class="addressSecondary input" placeholder="기본 주소">
                </div>
            </div>
            <div class="map_wrap">
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                <div id="menu_wrap" class="bg_white">
                    <div class="option">
                        <div>
                            <form id="searchForm">
                                키워드 : <input type="text" value="키워드 검색" name="keyword" size="15">
                                <input type="submit" value="검색하기">
                            </form>
                        </div>
                    </div>
                    <hr>
                    <ul id="placesList"></ul>
                    <div id="pagination"></div>
                </div>
            </div>
        </main>
        <input type="submit" value="다음" class="_button">
    </div>

</div>
</body>
</html>