@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

html {
    margin: 0;
    padding: 0;
    background-color: #f4f3f1;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    transition-duration: 850ms;
    transition-property: opacity;
    transition-timing-function: ease;
}
body{

}


.write-title{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom:10rem;
    margin-left: 3rem;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8rem;
}


section > .thumbnail-place {
    z-index: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

section > .thumbnail-place > .thumbnail-change {
    visibility: hidden;
}  /* 파일 업로드 자체를 label로 참조해서 숨김*/


section > .thumbnail-place > .thumbnail-upload {
    z-index: 1;
    background-color: gray;
    color: white;
    border-radius: 0.3rem;
    padding: 0.8rem;
    margin-top: 15rem;
}  /* 파일업로드버튼을 참조하는 레이블*/

section > .thumbnail-place > .thumbnail-upload:hover {
    filter: brightness(90%);
}  /* 파일업로드버튼을 참조하는 레이블*/



section>.thumbnail-place>.thumbnail{
    opacity: 0.6;
    aspect-ratio: 1/1;
    background-color: #fafafa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.0625rem solid #e0e0e0;
    cursor: pointer;
    user-select: none;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    position: absolute;
}

/* -------------------------------------- 썸네일 ---------------------------------------------- */



section > #Article-Write {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}


section > #Article-Write > .title {
    background-color: white;
    width: 45.1rem;
    height: 45px;
    padding-left: 1rem;
    border-radius: 0.15rem;
    border: 1px solid #c4c4c4;
    white-space: nowrap;
    line-height: 1;
    vertical-align: top;
    margin: 1rem 0 1rem 0;
    outline: none;
}


.ck-editor__editable {
    width: 50rem;
    height: 25rem;
}


/*CK-editor 크기 설정*/

section > #Article-Write > .article-tag {
    background-color: white;
    width: 51.2rem;
    height: 50px;
    border-radius: 0.15rem;
    border-top: none;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    outline: none;
    align-items: center;
    display: flex;
    color: #999;
}

section > #Article-Write > .article-tag >.explainTag{
    margin-left: 0.8rem;
    position: absolute;
}
section > #Article-Write > .article-tag >.explainTag:hover{
    cursor: default;
}

section > #Article-Write > .article-tag > .tag {
    display: block;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    margin-left: 0.7rem;
    line-height: 32px;
    box-sizing: border-box;
    background-color: #eff0f2;
    color: #000;
    outline: none;
    margin-right: 0.5rem;
}

section > #Article-Write > .submit {
    margin-top: 1rem;
    align-self: flex-end;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: gray;
    color: white;
}

section > #Article-Write > .submit:hover {
    filter: brightness(90%);
    cursor: pointer;
}

