#dialogCover{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000060;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: linear;
    z-index: 8;
}

#dialogCover.visible {
    opacity: 1;
    pointer-events: all;
}

#dialogLayer {
    top: 50%;
    left: 50%;
    transform: scale(90%) translate(-50%, -50%);
    transition-duration: 350ms;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    z-index: 9;
    width: 20rem;
    border-radius: 0.5rem;
    /*box-shadow: 0 0 1rem 0.0625rem #00000060;*/
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    position: fixed;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#dialogLayer.visible {
    opacity: 1;
    pointer-events: all;
    transform: scale(100%) translate(-50%, -50%);
}

#dialogLayer > .title {
    background-color: black;
    color: #eaecee;
    font-size: 1.125rem;
    padding: 0.75rem 1.25rem;
    user-select: none;
}

#dialogLayer > .content {
    background-color: #ffffff;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}

#dialogLayer > .button-container {
    background-color: #ffffff;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#dialogLayer > .button-container > .button {
    color: inherit;
    flex: 1;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

#dialogLayer > .button-container > .button:hover {
    color: #3498db;
}

#dialogLayer > .button-container > .button + .button {
    border-left: 0.0625rem solid #e0e2e4;
}