*{
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
}

/*body{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

main{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

}
main > .container {
    width: 60%;
    height: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main >.container > a{
    width: 100%;
    /*height: 100%;*/
    text-align: center;
}
main >.container > a> img{
    width: 40%;
    padding-bottom: 2rem;
}

main > .container > .content{
    padding-bottom: 1rem;
    font-size: 1rem;
}

main > .container > .content > .name{
    font-size: 1.3rem;
}
main > .container > .content > .email{
    font-size: 1.3rem;
}

main > .notification{
    max-height: 3rem;
    color: black;
    font-size: 0.9rem;
    margin: unset;
    overflow: hidden;
    padding-top: 0;
    transition-duration: 500ms;
    transition-property: max-height, padding-top;
    transition-timing-function: ease;
}


main >  .container > .linkBox{
    border: 1px solid #FB6161;
    border-radius: 15px;
    background-color: #FB6161;
    width: 50%;
    height: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
}

main >  .container >  .linkBox:hover{
    opacity: 1;
}

main >  .container >   .linkBox > a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

