@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    /*border: 1px solid red;*/
    text-decoration: none;
    background-color: white;
}

h2 {
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
}

:root {
    --concept-color-light: white;
}

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body{
    /*background-color: white;*/
    /*opacity: 0;*/
    padding: 0;
    margin-top: 0;
}





._container {
    width: 100%;
    position: relative;
}

._container > ._content {
    left: 50%;
    width: 100%;
    max-width: 77.5rem;
    position: relative;
    transform: translateX(-50%);
}

._container > ._content._small {
    max-width: 77.5rem;
}

#logo-container{
    /*padding-top: 1rem;*/
    /*padding: 0;*/
    width: 100%;
    height: 5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

#logo-container > .container{

    padding: 0;
    margin: 0;
    width: 68.75rem;
    /*border: 1px solid red;*/
    height: 5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999999;
    /*box-shadow: 0 2px 8px 0px;*/
}

#logo-container > .container > .logo{
    /*border: 1px solid red;*/
    width: 14rem;
    height: 5rem;

}

#logo-container > .container > ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
#logo-container > .container > ul > li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#topMenuContainer > .top-menu {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: flex-end;
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    margin-bottom: 1.5rem;
    padding-inline: unset;
    padding: 1rem 0 0 0;
}

#topMenuContainer > .top-menu > .item > .link {
    color: #9da3d6;
    font-family: 'Humanbumsuk', sans-serif;
    font-size: 1.5rem;
}

#topMenuContainer > .top-menu > .item > .empty-space {

}

#topMenuContainer > .top-menu > .item + .item {
    margin-left: 1.75rem;
}

#headerContainer {
    top: 0;
    height: 80px;
    background-color: white;
    overflow: hidden;
    /*padding-top: 0.5rem;*/
    padding-bottom: 0.5rem;
    position: sticky;
    z-index: 100;
}

#headerContainer > .header {
    width: 68.75rem;
    height: 80px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border: 1px solid red;
}

#headerContainer > .header > .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
    border: 1px solid red;
}

#headerContainer > .header > .menu > .item + .item {
    margin-left: 0.75rem;
}

#headerContainer > .header > .menu > .item > .icon-text-button {
    align-items: center;
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: flex-start;
}

#headerContainer > .header > .menu > .item > .icon-text-button > .icon {
    margin-right: 0.5rem;
}

#headerContainer > .header > .menu > .item > .icon-text-button > .icon-box > .icon {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 0.5rem;
}

#headerContainer > .header > .empty-box1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1.3;
    justify-content: flex-start;
    margin: 0 3rem;
}

#headerContainer > .header > .empty-box2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    margin: 0 3rem;
}

#headerContainer > .header > .search-form > .keyword-wrapper > .keyword-input {
    width: 12rem;
    background-color: white;
    border: 0.0625rem solid #959595;
    box-sizing: border-box;
    font: inherit;
    font-size: 0.9rem;
    outline: none;
    padding: 0.625rem 0.625rem 0.625rem 2.125rem;
    transition-duration: 250ms;
    transition-property: width;
    transition-timing-function: ease;
}

#headerContainer > .header > .search-form > .keyword-wrapper > .keyword-input:focus {
    width: 100%;
    background-color: white;
}

#headerContainer > .header > .search-form > .logo-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 5;
}

#headerContainer > .header > .search-form > .logo-wrapper > .logo-box {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 이미지가 넘치지 않도록 오버플로우를 숨깁니다. */
}

#headerContainer > .header > .search-form > .logo-wrapper > .logo-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#headerContainer > .header > .search-form > .keyword-wrapper:focus-within + .logo-wrapper {
    display: none;
}

.slider-container {
    width: 68.75rem;
    height: 480px;
    border-radius: 0.375rem;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: -1.5rem;
}

.slider {

    display: flex;
    flex-direction: row;
    transition: transform 1s;
}

.slide {
    width: 68.75rem;
    height: 550px;
    flex-shrink: 0;
}
.slide.last-child {
    margin-right: 0;
}

.slide.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide1 {
    width : 68.75rem;
    height: 34.375rem;
    background-color: crimson;
}
.slide1 > video{

    width : 100%;
    height: 34.375rem;
}

.slide2 {
    background-color: aqua;
}

.slide3 {
    background-color: black;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.navigation-button {
    cursor: pointer;
    width: 5rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: white;
    z-index: 10;
}

.navigation-button.active {
    font-weight: bold;
}

.for-margin {
    margin-right: 1rem;
}

#categoryContainer {
    padding-top: 2rem;
    margin-bottom: 4rem;
}

#categoryContainer > .category {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    text-align: center; /*여기는 광고를 넣든 뭘 하든*/
}

#categoryContainer > .category > .title {
    color: black;
    font-family: 'Humanbumsuk', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-block: unset;
    margin-inline: unset;
    margin-bottom: 1.5rem;
    padding: 3rem 0rem 3rem 0rem;
}

#categoryContainer > .category > .grid {
    width: 68.75rem;
    /*align-self: stretch;*/
    align-items: center;
    /*flex-direction: column;*/
    justify-content: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
}
#categoryContainer > .category > .grid > .item > .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#categoryContainer > .category > .grid > .item > .link > .image {
    width: 50%;
    height: 80%;
    border-radius: 0.5rem;
    max-height: 17.375rem; /* 이미지의 최대 높이 */
    object-fit: cover; /* 이미지를 잘라내어 비율을 유지한 채로 채우도록 설정 */
    margin-bottom: 0.8rem;
}

#categoryContainer > .category > .grid > .item > .link > .text {
    color: black;
    font-family: 'Humanbumsuk', 'sans-serif';
    font-size: 1.5rem;
}

.article-list-header {
    max-width: 77.5rem;
    color: black;
    font-family: 'Humanbumsuk', sans-serif;
    font-size: 3rem;
}

.article-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 0.375rem;
    overflow: hidden;
    /*margin: 3rem 0  -1.5rem 0;*/
    /*margin-top: 3rem;*/
    /*margin-bottom: -1.5rem;*/
}

.slider {
    display: flex;
    transition: transform 0.6s;
}

.article-container > .slider > .slide {
    width: 68.75rem;
    height: auto;
    flex-shrink: 0;
}

.article-container > .slider > .slide > .article-box {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    align-items: center; /* 수직 정렬 */
    justify-items: start;
}

.article-container > .slider > .slide > .article-box > .article-list {
    width: 33rem;
    height: 15rem;
    background-color: rgb(244, 244, 244);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 0.125rem solid rgb(244, 244, 244);
    border-radius: 15px;
    gap: 1rem;

    margin-bottom: 0.7rem; /*게시글 목록 상하 간격 조절*/

}

.article-container > .slider > .slide > .article-box > .article-list >
.article-thumbnail {
    width: 12rem;
    height: 13rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(244, 244, 244);
    border-radius: 0.3rem;
    padding-left: 0.3rem;
}

.article-container > .slider > .slide > .article-box > .article-list >
.article-thumbnail > .thumbnail {
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    width: 12rem;
    height: 13rem;
    padding-left: 0.3rem;
    object-fit: cover;
}

.article-container > .slider > .slide > .article-box > .article-list >
.article-content-box {
    width: 18rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 2rem;
    background-color: rgb(244, 244, 244);
    border-radius: 0.3rem;
}
.article-container > .slider > .slide > .article-box > .article-list >
.article-content-box > .article-content{
    width: 17rem;
background-color: rgb(244, 244, 244);
}

.article-container > .slider > .slide > .article-box > .article-list >
.article-content-box > .article-content > .article-content-title {
    /*background-color: white;*/
    width: 17rem;
background-color: rgb(244, 244, 244);
}

.article-container > .slider > .slide > .article-box > .article-list >
.article-content-box > .article-tag {
    display: block;
    width: 17rem;
    margin-bottom: 1.5rem;
background-color: rgb(244, 244, 244);
    /*background-color: gray;*/
}

.article-tag > .tag {
    border-radius: 0.7rem;
    margin: 0 0.8rem 0 0;
    font-weight: bold;
    color: gray;
    padding: 0.6rem;
    font-size: 1.1rem;
    background-color: white;
}

.tag.Popular {
    color: white;
    background-color: #ff7257;
}

.article-content {
    width: 19rem;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: white;
}

.article-map {
    font-weight: 800;
    background-color: rgb(244, 244, 244);


}

.map-item {
    background-color: rgb(244, 244, 244);

}

h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*background-color: white;*/
}

.article-human {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(244, 244, 244);


}

.Profile-Picture {
    margin-top: 1rem;
    margin-right: -0.4rem;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 10rem;
    border: 3px white solid;
    position: relative;
}

.Profile {
    object-fit: cover;
    border-radius: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Profile {
    object-fit: cover;
    border-radius: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.limit-image {
    width: 2.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    background-color: rgb(244, 244, 244);

}

.number {
    margin-top: 1rem;
    white-space: nowrap;
    background-color: rgb(244, 244, 244);


}

.cover {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.5; /* 이미지 투명도 50%*/
    flex-shrink: 1;
}

a {
    color: black;
}


#footer {

    display: flex;
    justify-content: center;
    align-items: center;
}

#footer > .wrap {
    border-top: 1px solid #666;
    padding-top: 8rem;
    width: 68.75rem;
    height: 10rem; /* Adjust the height according to your needs */
    /*background-color: aqua;*/
    display: grid;
    row-gap: 3rem;
    column-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 11.375rem;
}

#footer > .wrap > .grid-twin {
    /*background-color: #f0a0a0;*/
    color: #666;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.43;
}

#footer > .wrap > .grid-twin > .about-info > .about-a-tag {
    color: black;
}

#footer > .wrap > .grid-twin > .small-info {
    font-size: 0.75rem;
    margin-bottom: 3rem;
}

#footer > .wrap > .grid-twin.big {
    grid-column-start: 3;
    grid-column-end: 5;
}

#footer > .wrap > .grid-twin > .about-info > .secone-info {
    padding-left: -2rem;
}

#footer > .wrap > .grid-twin > .about-info > .last-a-tag {
    color: black;
}