*{
    padding: 0;
    margin: 0;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    width: 100%;
    height: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FB6161;
    margin-bottom: 2.5rem;
}
header > a{
    text-decoration: none;
}
header > a > img{
    width: 10rem;
    height: 2rem;

}

.notice-writer-body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.notice-writer-body > .item{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:start;
    width: 100%;
    height: auto;
    margin: 0.25rem 0;
}
.notice-writer-body > .item > .user-name{
    width: 10rem;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notice-writer-body > .item > .emailInput{
    width: 12rem;
}
.notice-writer-body > .item > .emailInput > input{
width: 100%;
    height: 1.5rem;
}

.notice-writer-body > .item > .title{
    width: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.notice-writer-body > .item > .textInput{
    width: 80%;
}
.notice-writer-body > .item  > .textInput > input{
    width: 100%;
    height: 1.5rem;
}
.notice-writer-body > .item > .content{
    width: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notice-writer-body > .item > .client-voice{
    width: 80%;
    height: 24rem;
}
.notice-writer-body > .item > .client-voice > textarea{
    /*width: 100%;*/
    /*height: 20rem;*/
}
.ck-editor__editable {
    width: 96.5%;
    height: 21.5rem;
}


.notice-writer-body > .send{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*height: 2rem;*/
}

.notice-writer-body > .send > .button-menu{
    width: 9rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notice-writer-body > .send > .button-menu > a{
    width: 4rem;
    height: 2rem;
    font-size: 0.8rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
    color: black;
}
.notice-writer-body > .send > .button-menu > a:hover{
    background-color: #FB6161;
    border: 1px solid #FB6161;
}
.notice-writer-body > .send > .button-menu > input{
    width: 4rem;
    font-size: 0.8rem;
    height: 2rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black
}
.notice-writer-body > .send > .button-menu > input:hover{
    background-color: #FB6161;
    border: 1px solid #FB6161;
}



/*footer {*/
/*    !*display: flex;*!*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*    width: 53%;*/
/*    !*height: 10rem;*!*/
/*}*/

/*#footer > .wrap {*/
/*    border-top: 1px solid #666;*/
/*    width: 100%;*/
/*    display: grid;*/
/*    row-gap: 3rem;*/
/*    column-gap: 3rem;*/
/*    grid-template-columns: repeat(4, 1fr);*/

/*}*/

/*#footer > .wrap > .grid-twin {*/
/*    color: #666;*/
/*    font-size: 0.875rem;*/
/*    font-weight: 700;*/
/*    line-height: 1.43;*/
/*}*/

/*#footer > .wrap > .grid-twin > .about-info > .about-a-tag {*/
/*    color: black;*/
/*}*/

/*#footer > .wrap > .grid-twin > .small-info {*/
/*    font-size: 0.75rem;*/
/*    margin-bottom: 1rem;*/
/*}*/

/*#footer > .wrap > .grid-twin.big {*/
/*    grid-column-start: 3;*/
/*    grid-column-end: 5;*/
/*}*/

/*#footer > .wrap > .grid-twin > .about-info > .secone-info {*/
/*    !*padding-left: -2rem;*!*/
/*}*/

/*#footer > .wrap > .grid-twin > .about-info > .last-a-tag {*/
/*    color: black;*/
/*}*/

#footer {
    width: 48.125rem;
}

#footer > .wrap {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #666;
    padding-top: 1rem;
}

#footer > .wrap > .grid-twin {
    width: 20rem;
}

#footer > .wrap > .grid-twin > p {
    margin-bottom: 0.5rem;
}

#footer > .wrap > .grid-twin > .about-a-tag {
    color: #666
}

#footer > .wrap > .grid-twin > p > a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.43;
}

@media screen and (max-width: 820px){

    form{
        width: 95%;
    }
    .notice-writer-body > .item{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content:start;
        width: 100%;
        height: auto;
        margin: 0.25rem 0;
    }
    .notice-writer-body > .item > .left{
        opacity: 0;
    }
    .notice-writer-body > .item > .textInput{
        width: 100%;
        border: 1px solid red;
    }
    .notice-writer-body > .item > .textInput > input{
        width: 100%;
    }
    .notice-writer-body > .item > .client-voice{
        border: 1px solid red;
        width: 100%;
    }
    .notice-writer-body > .item > .client-voice > .content{
        width: 100%;
    }

    #footer {
        width: 95%;
    }

}
@media screen and (max-width: 460px){
    #footer {
        width: 95%;
    }
    #footer > .wrap{
        display: flex;
        flex-direction: column;
    }
    #footer > .wrap > .grid-twin{
        width: 100%;
    }
}
