@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
    text-decoration: none;
}

a{
    color: black;
}

body{
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layout{
    background-color: #FB6161;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0 auto;
}

.layout > .header_wrap{
    margin: 0 auto;
    width: 800px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout > .header_wrap > .logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.layout > .header_wrap > .logo > a {
    color: white;
    margin-right: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.layout > .header_wrap > .logo > a > .icon{
    width: 10rem;
    height: 2rem;
}

.layout > .header_wrap > .register > a{
    color: white;
    margin-right: 0.5rem;
}


#main{
    width:  48.125rem;
    height: auto;

}

#main > .notice-main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#main > .notice-main > h1 {
   padding: 0.25rem 0 0 0 ;
}


#main > .notice-main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

#main > .notice-main > div  >.button {
    padding: 0.8rem;
    font-size: 1.2rem;
    align-self: flex-end;
    white-space: nowrap;
    background-color: #FB6161;
    color:#fff;
    border-radius: 0.3rem;
}
#main > .notice-main > div > .box{

}
#main > .notice-main > div > .box > .article-notice {
    padding: 0 0 0 1rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main > .notice-main > div > .box > .article-notice> .title{
    color: black;
    font-size: 1.3rem;
}
#main > .notice-main > div  > .box > a > span {
    color: #bdbdbd;
    margin-top: 1rem;
    font-size: 1rem;
}


@media (max-width: 750px) {
    .layout{
        background-color: #FB6161;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;
        margin: 0 auto;
    }

    .layout > .header_wrap{
        margin: 0 auto;
        width: 800px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .layout > .header_wrap > .logo > a{
        color: white;
        margin-right: 0.5rem;
    }

    .layout > .header_wrap > .register > a{
        color: white;
        margin-right: 0.5rem;
    }


    #main{
        margin: 0 auto;
        max-width: 750px;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    #main > .notice-main {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    #main > .notice-main > h1 {
        padding: 1rem;
    }


    #main > .notice-main > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #main > .notice-main > div > a {
        padding: 1rem;
        font-size: 1.2rem;
        border-bottom: 1px solid #f4f4f4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #main > .notice-main > div > a > span {
        color: #bdbdbd;
        margin-top: 1rem;
        font-size: 1rem;
    }

}

/*#footer {*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*#footer > .wrap {*/
/*    border-top: 1px solid #666;*/
/*    padding-top: 2rem;*/
/*    width: 75rem;*/
/*    height: 10rem; !* Adjust the height according to your needs *!*/
/*    !*background-color: aqua;*!*/
/*    display: grid;*/
/*    row-gap: 3rem;*/
/*    column-gap: 3rem;*/
/*    grid-template-columns: repeat(4, 1fr);*/
/*    margin-bottom: 11.375rem;*/
/*}*/

/*#footer > .wrap > .grid-twin {*/
/*    !*background-color: #f0a0a0;*!*/
/*    color: #666;*/
/*    font-size: 0.875rem;*/
/*    font-weight: 700;*/
/*    line-height: 1.43;*/
/*}*/

/*#footer > .wrap > .grid-twin > .about-info > .about-a-tag {*/
/*    color: black;*/
/*}*/

/*#footer > .wrap > .grid-twin > .small-info {*/
/*    font-size: 0.75rem;*/
/*    margin-bottom: 3rem;*/
/*}*/

/*#footer > .wrap > .grid-twin.big {*/
/*    grid-column-start: 3;*/
/*    grid-column-end: 5;*/
/*}*/

/*#footer > .wrap > .grid-twin > .about-info > .secone-info {*/
/*    padding-left: -2rem;*/
/*}*/

/*#footer > .wrap > .grid-twin > .about-info > .last-a-tag {*/
/*    color: black;*/
/*}*/

#footer {
    width: 48.125rem;
}

#footer > .wrap {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #666;
    padding-top: 1rem;
}

#footer > .wrap > .grid-twin {
    width: 20rem;
}

#footer > .wrap > .grid-twin > p {
    margin-bottom: 0.5rem;
}

#footer > .wrap > .grid-twin > .about-a-tag {
    color: #666
}

#footer > .wrap > .grid-twin > p > a {
    text-decoration: none;
    color: black;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.43;
}







