@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");


html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f4f3f1;
    font-size: 1rem;
    font-weight: 400;
    margin: unset;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*---------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------*/
#passwordReset {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2.5rem;
    transition-duration: 600ms;
    transition-timing-function: ease;
    z-index: 9;
    align-items: center;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

#passwordReset.show {
    pointer-events: all;
    opacity: 1;
}

.passwordReset-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -6rem;

}


.Logo{
    width: 15rem;
    margin-bottom: 3rem;
}
.Logo.password{
    width: 15rem;
}

.input {
    background-color: #fafafa;
    border: 0.0625rem solid #e0e0e0;
    border-radius: 0.25rem;
    padding: 0.625rem 0.875rem;
    width: 17rem;
    margin-bottom: 1rem;
    position: relative;
}

.input:disabled{
    background-color: #eeeeee;
    border: 0.0625rem solid #e0e0e0;
}
.input._invalid{
    border-color: #ef5350;
    outline: none;
}
.openEye {
    position: fixed;
    top: 270px;
    left: 310px;
    cursor: pointer;
    display: none;
}
.closeEye{
    position: fixed;
    top: 270px;
    left: 310px;
    cursor: pointer;
}

.submit {
    background-color: #e0e0e0;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.625rem 0.875rem;
    color: black;
    font-weight: bold;
}

.submit._color-concept {
    background-color:#CCCCCC;
    border: none;
    width: 18.5rem;
}

.submit:hover {
    filter: brightness(95%);
}


.submit:disabled{
    background-color: #eeeeee;
    color: #bdbdbd;
    cursor: default;
    filter: none;
}

._object-check-wrapper {
    cursor: pointer;
    user-select: none;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

._object-check-wrapper > ._check-input {
    display: none;
}

.mini{
    margin-top: 10rem;
    width: 8rem;
}



#passwordReset.visible{
    opacity: 1;
    pointer-events: all;
    transform: scale(100%) translate(-50%, -50%);
}


.passwordReset-form > .warning {
    max-height: 0;
    color: #ef5350;
    font-size: 0.9rem;
    margin: unset;
    overflow: hidden;
    padding-top: 0;
    transition-duration: 300ms;
    transition-property: max-height, padding-top;
    transition-timing-function: ease;
    align-self: flex-start;
}


.passwordReset-form > .warning.password.visible {
    max-height: 3rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;

}

/*---------------------------------------------------------------------------------------*/

#PasswordCover {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0.25rem);
    background-color: #21212160;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 850ms;
    transition-property: opacity;
    transition-timing-function: ease;
    z-index: 10;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* 투명도 설정하고 포인터 이벤트 없앤다*/

#PasswordCover.visible {
    opacity: 1;
    pointer-events: all;
}

.cover{
    width: 20rem;
    height: 20rem;
    border-radius: 0.3rem;
    background-color: #f4f3f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}
.link{
    background-color: #eeeeee;
    color: black;
    border: 0.0625rem solid #e0e0e0;
    border-radius: 0.25rem;
    padding: 0.625rem 0.875rem;
    margin-top: 3rem;
    position: relative;
    text-decoration: none;
}

.link:hover{
    filter: brightness(95%);
    cursor: pointer;
}



