@charset "UTF-8";


/**/



html{
    font-size: 12px;
}



/*전체길이*/
.container{
    height: 100%;
}

/*중앙 컨텐츠들*/
.inner {
    width: 500px;
    margin: 0 auto;
}

.inner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    padding: 1rem;
}
/*로고*/
.container > .inner > .logo_we_meet > .link>.logo {
    width: 95px;
    height: 18px;
}

/*전체 동의*/
#registerForm > .inner > .step-1>.all > .check-container > .title{
    font-size: 2rem;
    margin-left: 0.5rem;
}

#registerForm > .inner > .step-1 > .all > .text{
    margin-top: 1rem;
    font-size: 15px;
}



/*이용약관 동의하기*/

#registerForm > .inner > .step-1>.service{
    margin-top: 3rem;
    position: relative;
}

#registerForm > .inner > .step-1>.service > .term_list{
    list-style: none;
    padding: 0;
}

#registerForm > .inner > .step-1>.service > .term_list> .term_item{
    margin-bottom: 50px;
}

#registerForm > .inner > .step-1>.service > .term_list> .term_item > .check-container > .title{
    font-size: 2rem;
    margin-left: 0.5rem;
}

/*다음 버튼*/

#registerForm > .inner > .step-1> .button-container > .next{
    width: 500px;
    padding: 14px 0;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

/*화면 전환을 위한 display 값들*/
.step-1{
    display: block;
}

.step-2{
    display: none;
    margin-top: 2rem;
}
.step-3{
    display: none;
}


#registerForm > .inner > .step-1 > .sign{
    margin-top: 3rem;
    position: relative;
}

/*2페이지*/

#registerForm > .inner > .step-2 > .sign > .form_list{
    margin-bottom: 30px;
    width: 500px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;

}
#registerForm > .inner > .step-2 > .sign > .form_list > .form_item{
    display: flex;
    align-items: stretch;
    position: relative;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    margin: 0;

    border-bottom: 1px solid #d6d6d6;
}
#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .input-wrapper{
    width: 470px;
}

#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .input,
#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .button {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0 0 0 7px;
    border: none;
    outline: none;
}

#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .contactCode{
    height: 100%;
    flex: 1;
    padding: 0;
}

#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .contactSend{
    height: 100%;
    flex: 1;
    padding: 0;
}

/*step-2 next button*/
#registerForm > .inner > .step-2> .button-container > .complete{
    width: 500px;

    margin-top: 1.3rem;
    padding: 14px 0;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    position: relative;

}


/*img*/
.input-wrapper >.input{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.input-wrapper > .button{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper .img {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 20px; /* 이미지의 크기를 조절하세요 */
    height: 20px;

    pointer-events: none;
}



/**/

.input-wrapper .input {
    padding-left: 30px; /* 이미지의 크기와 간격에 맞게 조절하세요 */
}


/*gender*/

.form_item>input[type="radio"]{
    display: none;
}

.form_item>label{
    position: relative;
    font-size: 15px;
    border:1px solid #d6d6d6 ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px 3px;
    width: 50%;
}

.form_item>input[type="radio"]:checked + label{
    background-color: #01cc65;
    color: white;
}

/*address*/

#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .contactVerify{
    height: 100%;
    flex: 1;
    padding: 0;
}






/*step-3*/
