@charset "UTF-8";


/**/



html{
    font-size: 12px;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}


/*전체길이*/
.container{
    width: 50%;
    height: 100%;
}

/*중앙 컨텐츠들*/
.inner {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.inner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    padding: 1rem;
}
/*로고*/
.container > .inner > .logo_we_meet > .ExclamationMark {
    width: 95px;
    height: 18px;
}

/*전체 동의*/
#registerForm > .inner > .step-1>.all > .check-container > .title{
    font-size: 2rem;
    margin-left: 0.5rem;
}

#registerForm > .inner > .step-1 > .all > .text{
    margin-top: 1rem;
    font-size: 15px;
}



/*이용약관 동의하기*/

#registerForm > .inner > .step-1>.service{
    margin-top: 3rem;
    position: relative;
}

#registerForm > .inner > .step-1>.service > .term_list{
    list-style: none;
    padding: 0;
}

#registerForm > .inner > .step-1>.service > .term_list> .term_item{
    margin-bottom: 50px;
}

#registerForm > .inner > .step-1>.service > .term_list> .term_item > .check-container > .title{
    font-size: 2rem;
    margin-left: 0.5rem;
}

/*다음 버튼*/

#registerForm > .inner > .step-1> .button-container > .next{
    width: 50%;
    max-width: 500px;
    padding: 14px 0;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

/*화면 전환을 위한 display 값들*/
.step-1{
    display: block;
}

.step-2{
    display: none;
    margin-top: 2rem;
}
.step-3{
    display: none;
}


#registerForm > .inner > .step-1 > .sign{
    margin-top: 3rem;
    position: relative;
}

/*2페이지*/

.input {
    font-size: 16px;
}

#registerForm > .inner > .step-2 > .sign > .form_list{
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;

}
#registerForm > .inner > .step-2 > .sign > .form_list > .form_item{
    display: flex;
    align-items: stretch;
    position: relative;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    margin: 0;

    border-bottom: 1px solid #d6d6d6;
}
#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .input-wrapper{
    width: 470px;
}

#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .showHide{
    width: 440px;
    position: relative;
}


#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .input,
#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .button {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0 0 0 1rem;
    border: none;
    outline: none;
}

#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .contactCode{
    height: 100%;
    flex: 1;
    padding: 0;
}

#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .contactSend{
    height: 100%;
    flex: 1;
    padding: 0;
}

/*step-2 complete button*/
#registerForm > .inner > .step-2>.sign> .button-container > .complete{
    width: 100%;
    padding: 14px 0;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    /*position: fixed;*/
    /*bottom: 20px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*z-index: 9999;*/
}


/*img*/
.input-wrapper >.input{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.showHide > .input{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    padding-left: 30px;
}

.input-wrapper > .button{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper .img {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 20px; /* 이미지의 크기를 조절하세요 */
    height: 20px;

    pointer-events: none;
}

.input-wrapper .clickIcon {
    position: absolute;
    /*top: 50%;*/
    /*left: 5px;*/
    /*transform: translate(2250%,-50%);*/
    width: 20px; /* 이미지의 크기를 조절하세요 */
    height: 20px;

    pointer-events: all;
    cursor: pointer;
}

.showHide .img {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 20px; /* 이미지의 크기를 조절하세요 */
    height: 20px;

    pointer-events: none;
}

.showHide .clickIcon {
    position: absolute;


    width: 20px; /* 이미지의 크기를 조절하세요 */
    height: 20px;
    pointer-events: all;
    cursor: pointer;
}


.eyesBox {
    position: relative;
}

/* Chrome, Safari, and Opera */
input[type="date"]::-webkit-calendar-picker-indicator {
    /* 아이콘을 원하는 위치로 이동시키세요 */
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 5px;*/
    /*transform: translate(2250%,-50%);*/
}

/*!* Firefox *!*/
/*input[type="date"]::-moz-calendar-picker-indicator {*/
/*    !* 아이콘을 원하는 위치로 이동시키세요 *!*/
/*    margin-left: 10px;*/
/*    margin-top: 5px;*/
/*}*/

/* Edge */
input[type="date"]::-ms-clear {
    /* 아이콘을 원하는 위치로 이동시키세요 */
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 5px;*/
    /*transform: translate(2250%,-50%);*/
}



/**/

.input-wrapper .input {
    padding-left: 30px; /* 이미지의 크기와 간격에 맞게 조절하세요 */
}


/*gender*/

.form_item>input[type="radio"]{
    display: none;
}

.form_item>label{
    position: relative;
    font-size: 15px;
    border:1px solid #d6d6d6 ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px 3px;
    width: 50%;
}

.form_item>input[type="radio"]:checked + label{
    background-color: #ef5350;
    color: white;
}

/*address*/

#registerForm > .inner > .step-2 > .sign > .form_list > .form_item > .contactVerify{
    height: 100%;
    flex: 1;
    padding: 0;
}






/*step-3*/
.step-3 {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

.step-3 > .img{
    display: block;
    margin-bottom: 1rem;
    width: 40rem;
}

.success {
    text-align: center;
    border: 1px solid #ef5350;
    padding: 20px;
}


#registerForm > .inner > .step-3 > .success >.text{
    font: inherit;
    font-size: 30px;
    margin-bottom: 1rem;
}

#registerForm > .inner > .step-3 > .success > .link {
    font: inherit;
    font-size: 30px;
    text-decoration: none;
}

a.link {
    color: #3498db; /* 원래의 링크 색상 설정 */
}

a.link:visited {
    color: #3498db; /* 방문한 링크의 색상 설정 */
}


/*반응형*/


/*!*step-1*!*/
/*@media (max-width: 570px) {*/
/*    #registerForm > .inner > .step-1 > .button-container > .next {*/
/*        width: 100%; !* Adjust the width to fill the entire container *!*/
/*        max-width: 28rem; !* Limit the maximum width to 500px *!*/
/*    }*/

/*    .inner {*/
/*        width: 28rem; !* Adjust the width of .inner to fill the entire container *!*/
/*    }*/
/*}*/

/*@media (max-width: 360px) {*/
/*    .inner{*/
/*        width: 25rem;*/
/*    }*/
/*}*/

/*@media (max-width: 315px) {*/
/*    #registerForm > .inner > .step-1 > .button-container > .next {*/
/*        max-width: 20rem; !* Limit the maximum width to 360px *!*/
/*    }*/

/*    #registerForm > .inner > .step-1>.all > .check-container > .title{*/
/*        font-size: 1.5rem;*/
/*    }*/

/*    #registerForm > .inner > .step-1>.service > .term_list> .term_item > .check-container > .title{*/
/*        font-size: 1.25rem;*/
/*    }*/
/*    .inner {*/
/*        width: 20rem; !* Adjust the width of .inner to fill the entire container *!*/
/*    }*/
/*}*/

/*step-2*/