* {
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.allContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f3f1;
}

.allContainer > .header {
    /*border: 1px solid red;*/
    width: 100%;
    height: 3rem;
    z-index: 99;
    background-color: white;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

allContainer > .header > .login > a {

}

.allContainer > .header > .login > a {
    font-family: 'Humanbumsuk', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.allContainer > .header > .login > a:hover {
    color: blue;
}


.allContainer > .main-template {
    width: 100%;
    height: auto;
}

.allContainer > .main-template > .img-profile-title {
    width: 100%;
    height: 20rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #f4f3f1;
}


.allContainer > .main-template > .img-profile-title > img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;

}

.allContainer > .main-template > .img-profile-title > .profile-title {
    position: relative;
    width: calc(100% - 28px);
    height: auto;
    top: -25px;
    align-items: center;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background-color: white;

}

.allContainer > .main-template > .img-profile-title > .profile-title > .profile-img {
    width: 60px;
    height: 60px;
    bottom: 31px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}

.allContainer > .main-template > .img-profile-title > .profile-title > .profile-img > a > img {
    border-radius: 50%;
}

.allContainer > .main-template > .img-profile-title > .profile-title > .bulletin-title {
    width: 100%;
    height: 2rem;
    border-radius: 16px;
    background-color: white;
}

.allContainer > .main-template > .content {
    background-color: #f4f3f1;
    padding-bottom: 2rem;
    margin: 0 1rem;
}


.announcement {
    width: 100%;
    height: auto;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 1rem;
}

.announcement > .introduction {
    width: 100%;
    margin: 0 1rem
}

.announcement > .introduction > .member {
    color: red;

    font-size: 0.7rem;
}

.announcement > .introduction > .subTitle {
    font-size: 1.2rem;
}

.announcement > .introduction > .my {
    width: 100%;
    height: 4rem;
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: start;
}


.announcement > .introduction > .my > .myImages {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.announcement > .introduction > .my > .myImages > img {
    border-radius: 50%;
}

.announcement > .introduction > .my > .myIntroduction {
    height: 4rem;
    width: 100%;
}

.announcement > .introduction > .my > .myIntroduction > .nickname {
    height: 2rem;

}

.announcement > .introduction > .my > .myIntroduction > .text {
    height: 2rem;
    color: lightgray;
}


.announcement > .participant {
    width: 100%;
    height: 15rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.announcement > .participant > .participantContainer {
    position: relative;
    width: 90%;
    height: 11rem;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement > .participant > .participantContainer > .login-after-human {
    width: 100%;
    height: 100%;
    color: blue;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.announcement > .participant > .participantContainer > .login-before-human {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: rgb(255, 228, 196);
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement > .participant > .participantContainer > .login-before-human > a > .attend {
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 0.4rem;
    cursor: pointer;
}

.announcement > .review {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement > .review > .reviewContainer {
    border: 1px solid red;
    background-color: white;
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.announcement > .review > .reviewContainer > .reviewTitle {
    padding-bottom: 0.5rem;
}

.announcement > .review > .reviewContainer > .reviewContent {
    width: 100%;
    /*height: 7rem;*/
    /*border: 1px solid blue;*/
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.announcement > .review > .reviewContainer > .reviewContent > .reviewBox {
    width: 80%;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
}

.announcement > .review > .reviewContainer > .reviewContent > .reviewBox > .core {
    color: red;
    margin: 0.4rem 0;
}

.announcement > .review > .reviewContainer > .reviewContent > .reviewBox > .estimate {
    margin-bottom: 0.5rem;
}

.announcement > .review > .reviewContainer > .reviewContent > .reviewBox > .writer {

    width: 100%;
    border: 1px solid black;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.announcement > .review > .reviewContainer > .reviewContent > .reviewBox > .writer > .profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;

}

.announcement > .review > .reviewContainer > .reviewInput {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.announcement > .review > .reviewContainer > .reviewInput> .fieldset{
    display: flex;
    flex-direction: row-reverse;
    border: 0;
}

.announcement > .review > .reviewContainer > .reviewInput> .fieldset > input[type=radio]{
    display: none;
}
.announcement > .review > .reviewContainer > .reviewInput> .fieldset> label{
    font-size: 2rem;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.announcement > .review > .reviewContainer > .reviewInput> .fieldset> label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.announcement > .review > .reviewContainer > .reviewInput> .fieldset> label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.announcement > .review > .reviewContainer > .reviewInput> .fieldset> input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}






.announcement > .review > .reviewContainer > .reviewInput > .text {
    margin: 0.6rem 0.5rem;
    width: 25rem;
    height: 3rem;
}

.announcement > .review > .reviewContainer > .reviewInput > .button {
    width: 4rem;
    height: 2rem;
}