<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsh.projectwemeet.mappers.ArticleMapper">
    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.bsh.projectwemeet.entities.ArticleEntity">
        INSERT INTO `wemeet_project`.`articles` (email, title, category, content, place, address, thumbnail,
                                                 thumbnail_mime, view, created_at, day, time, `limit`, participation,
                                                 like_count, report, deleted_flag, finished_flag, latitude, longitude,
                                                 hashtag, client_ip, client_ua)
        VALUES (#{email},
                #{title},
                #{category},
                #{content},
                #{place},
                #{address},
                #{thumbnail},
                #{thumbnailMime},
                #{view},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{appointmentStartDate},
                #{appointmentStartTime},
                #{limit},
                #{participation},
                #{likeCount},
                #{report},
                #{isDeleted},
                #{isFinished},
                #{latitude},
                #{longitude},
                #{hashtag},
                #{clientIp},
                #{clientUa})
    </insert>


    <insert id="insertParticipants"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.bsh.projectwemeet.entities.ParticipantsEntity">
        INSERT INTO `wemeet_project`.`Participants`(email, ArticleIndex, created_at, check_participation_status)
        VALUES (#{email},
                #{ArticleIndex},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{checkParticipationStatus})
    </insert>

    <!--게시물 전체 조회-->
    <select id="selectAll"
            resultType="com.bsh.projectwemeet.entities.ArticleEntity">
        SELECT `index`                AS `index`,
               `title`                AS `title`,
               `content`              AS `content`,
               `category`             AS `category`,
               `address`              AS `address`,
               `limit`                AS `limit`,
               SUBSTRING(hashtag,1, 11) AS `hashtag`,
               `day`                  AS `appointmentStartDate`,
               `time`                 AS `appointmentStartTime`
        FROM `wemeet_project`.`articles`
        WHERE BINARY `category` LIKE CONCAT('%',#{category},'%')
        ORDER BY `index` DESC
    </select>
    <!--게시물 전체 조회-->

    <!-- 필요한 게시물 조회  -->
    <select id="selectArticleByIndex"
            resultType="com.bsh.projectwemeet.entities.ArticleEntity">
        SELECT `index`          AS `index`,
               `email`          AS `email`,
               `title`          AS `title`,
               `content`        AS `content`,
               `category`       AS `category`,
               `view`           AS `view`,
               `limit`          AS `limit`,
               `place`          AS `place`,
               `address`        AS `address`,
               `participation`  AS `participation`,
               `latitude`       AS `latitude`,
               `longitude`      AS `longitude`,
               `thumbnail`      AS `thumbnail`,
               `thumbnail_mime` AS `thumbnailMime`
        FROM `wemeet_project`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>
    <!-- 필요한 게시물 조회  -->

    <!-- 이런 모임은 어때요 조회-->
    <select id="selectDifferentArticle"
            resultType="com.bsh.projectwemeet.entities.ArticleEntity">
        SELECT `index`    AS `index`,
               `title`    AS `title`,
               `content`  AS `content`,
               `category` AS `category`,
               `address`  AS `address`,
               `day`      AS `appointmentStartDate`,
               `participation`  AS `participation`,
               `limit`          AS `limit`,
               `time`     AS `appointmentStartTime`,
               `thumbnail`      AS `thumbnail`,
               `thumbnail_mime` AS `thumbnailMime`
        FROM `wemeet_project`.`articles`
        ORDER BY `index` DESC
        LIMIT 7
    </select>
    <!-- 이런 모임은 어때요 조회-->

    <!--메인에 나타낼 게시물 6개-->
    <select id="selectArticleMain"
            resultType="com.bsh.projectwemeet.entities.ArticleEntity">
        SELECT `index`                   AS `index`,
               `title`                   AS `title`,
               `content`                 AS `content`,
               `category`                AS `category`,
               `address`                 AS `address`,
               SUBSTRING(hashtag, 1, 11) AS `hashtag`,
               `limit`                   AS `limit`,
               `participation`           AS `participation`,
               `day`                     AS `appointmentStartDate`,
               `time`                    AS `appointmentStartTime`
        FROM `wemeet_project`.`articles`
        ORDER BY `index` DESC
        LIMIT 6
    </select>
    <!--메인에 나타낼 게시물 6개-->


    <select id="selectParticipants"
            resultType="com.bsh.projectwemeet.entities.ParticipantsEntity">
        SELECT `index`                      AS `index`,
               `email`                      AS `email`,
               `ArticleIndex`               AS `ArticleIndex`,
               `check_participation_status` AS `checkParticipationStatus`
        FROM `wemeet_project`.`Participants`
        WHERE `ArticleIndex` = #{index}
        LIMIT 1
    </select>

    <!-- 게시물 수정 찾기 -->
    <select id="selectArticleByPatchIndex"
            resultType="com.bsh.projectwemeet.entities.ArticleEntity">
        SELECT `index`          AS `index`,
               `title`          AS `title`,
               `category`       AS `category`,
               `content`        AS `content`,
               `place`          AS `place`,
               `address`        AS `address`,
               `thumbnail`      AS `thumbnail`,
               `thumbnail_mime` AS `thumbnailMime`,
               `day`            AS `appointmentStartDate`,
               `time`           AS `appointmentStartTime`,
               `limit`          AS `limit`,
               `hashtag`        AS `hashtag`,
               `latitude`       AS `latitude`,
               `longitude`      AS `longitude`
        FROM `wemeet_project`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>
    <!-- 게시물 수정 찾기 -->


    <!-- 조회수 업데이트 -->
    <update id="updateArticle"
            parameterType="com.bsh.projectwemeet.entities.ArticleEntity">
        UPDATE `wemeet_project`.`articles`
        SET `view` = #{view}
        WHERE `index` = #{index}
        LIMIT 1
    </update>
    <!-- 조회수 업데이트 -->

    <!-- 참여인원 업데이트 -->
    <update id="updateParticipate"
            parameterType="com.bsh.projectwemeet.entities.ArticleEntity">
        UPDATE `wemeet_project`.`articles`
        SET `participation` = #{participation}
        WHERE `index` = #{index}
        LIMIT 1
    </update>
    <!-- 참여인원 업데이트 -->

    <!-- 게시판 수정 -->
    <update id="updateArticleContent"
            parameterType="com.bsh.projectwemeet.entities.ArticleEntity">
        UPDATE `wemeet_project`.`articles`
        SET `title`          = #{title},
            `category`       = #{category},
            `content`        = #{content},
            `place`          = #{place},
            `address`        = #{address},
            `day`            = #{appointmentStartDate},
            `time`           = #{appointmentStartTime},
            `latitude`       = #{latitude},
            `longitude`      = #{longitude},
            `thumbnail`      = #{thumbnailMultipart},
            `thumbnail_mime` = #{thumbnailMime}
        WHERE `index` = #{index}
        LIMIT 1
    </update>
    <!-- 게시판 수정 -->


    <!-- 게시판 삭제 -->
    <delete id="deleteByArticle">
        DELETE FROM `wemeet_project`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
    <!-- 게시판 삭제 -->

    <!-- 참여 여부 삭제 -->
    <delete id="deleteByParticipants">
        DELETE FROM `wemeet_project`.`Participants`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
    <!-- 참여 여부 삭제 -->


    <select id="selectArticleByIndexEmail"
            resultType="com.bsh.projectwemeet.entities.ArticleEntity">
        SELECT `index`          AS `index`,
               `email`          AS `email`,
               `title`          AS `title`,
               `content`        AS `content`,
               `category`       AS `category`,
               `view`           AS `view`,
               `limit`          AS `limit`,
               `participation`  AS `participation`,
               `latitude`       AS `latitude`,
               `longitude`      AS `longitude`,
               `thumbnail`      AS `thumbnail`,
               `thumbnail_mime` AS `thumbnailMime`,
               `finished_flag` AS `isFinished`
        FROM `wemeet_project`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <update id="updateFinished"
            parameterType="com.bsh.projectwemeet.entities.ArticleEntity">
        UPDATE `wemeet_project`.`articles`
        SET `finished_flag` = #{isFinished}
        WHERE `index` = #{index}
        LIMIT 1
    </update>






</mapper>