<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsh.projectwemeet.mappers.FaqMapper">

    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="com.bsh.projectwemeet.entities.FaqEntity">
        INSERT INTO `wemeet_project`.`faq`
            (title, content, created_at, client_ip, client_ua)
        VALUES (#{title}, #{content}, #{createdAt}, #{clientIp}, #{clientUa})
    </insert>


    <select id="selectCheckUser"
            resultType="com.bsh.projectwemeet.entities.UserEntity">
        SELECT `email`      AS `email`,
               `name`       AS `name`,
               `nickname`   AS `nickname`,
               `admin_flag` AS `isAdmin`
        FROM `wemeet_project`.`users`
        WHERE `email` = #{email}
        LIMIT 1
    </select>

    <select id="selectCountArticle"
            resultType="com.bsh.projectwemeet.entities.FaqEntity">
        SELECT `index` AS `index`,
               `title` AS  `title`,
               `content` AS  `content`,
               `created_at` AS `createdAt`,
               `client_ip` AS `clientIp`,
               `client_ua` AS `clientUa`
        FROM `wemeet_project`.`faq`
        ORDER BY `index` DESC
    </select>



    <select id="selectArticleByIndex"
            resultType="com.bsh.projectwemeet.entities.FaqEntity">
        SELECT `index`      AS `index`,
               `title`      AS `title`,
               `content`    AS `content`,
               `created_at` AS `createdAt`,
               `client_ip`  AS clientIp,
               `client_ua`  AS clientUa
        FROM `wemeet_project`.`faq`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectArticleByPatchIndex"
            resultType="com.bsh.projectwemeet.entities.FaqEntity">
        SELECT `index`      AS `index`,
               `title`      AS `title`,
               `content`    AS `content`,
               `created_at` AS `createdAt`,
               `client_ip`  AS clientIp,
               `client_ua`  AS clientUa
        FROM `wemeet_project`.`faq`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <delete id="deleteArticleByIndex">
        DELETE
        FROM `wemeet_project`.`faq`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>


    <update id="updateArticleContent"
            parameterType="com.bsh.projectwemeet.entities.FaqEntity">
        UPDATE `wemeet_project`.`faq`
        SET `title`      = #{title},
            `content`    = #{content},
            `created_at` = #{createdAt},
            `client_ip`  = #{clientIp},
            `client_ua`  = #{clientUa}
        WHERE `index` = #{index}
    </update>
</mapper>