<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsh.projectwemeet.mappers.NoticeSeeMapper">

    <select id="selectCheckUser"
            resultType="com.bsh.projectwemeet.entities.UserEntity">
        SELECT `email`      AS `email`,
               `name`       AS `name`,
               `nickname`   AS `nickname`,
               `admin_flag` AS `isAdmin`
        FROM `wemeet_project`.`users`
        WHERE `email` = #{email}
        LIMIT 1
    </select>

</mapper>