<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsh.projectwemeet.mappers.ProfileMapper">
    <insert id="insertProfile"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.bsh.projectwemeet.entities.ProfileEntity">
        INSERT INTO `wemeet_project`.`mypages` (email, profile_thumbnail, profile_thumbnail_mime)
        VALUES (#{email},
                #{profileThumbnail},
                #{profileThumbnailMime})
    </insert>

    <insert id="insertContactCode"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.bsh.projectwemeet.entities.RegisterContactCodeEntity">
        INSERT INTO `wemeet_project`.`register_contact_codes`(`contact`, `code`, `salt`, `created_at`, `expires_at`, `expired_flag`)
        VALUES (#{contact},
                #{code},
                #{salt},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{expiresAt},
                IFNULL(#{isExpired}, DEFAULT(`expired_flag`)))
    </insert>

    <select id="selectProfileIndex"
    resultType="com.bsh.projectwemeet.entities.ProfileEntity">
        SELECT `index` AS `index`,
               `email` AS `email`,
               `profile_thumbnail` AS `profileThumbnail`,
               `profile_thumbnail_mime` AS `profileThumbnailMime`
        FROM `wemeet_project`.`mypages`
        WHERE `index` = #{index}
    </select>

    <select id="selectAll"
    resultType="com.bsh.projectwemeet.entities.UserEntity">
        SELECT `email` AS  `email`,
               `name` AS `name`,
               `nickname` AS `nickname`,
               `contact` AS `contact`,
               `admin_flag` AS `isAdmin`,
               `birth` AS `birth`,
               `address_postal` AS `addressPostal`,
               `address_primary` AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `gender` AS `gender`,
               `password` AS `password`
        FROM `wemeet_project`.`users`
        WHERE BINARY `email` = #{email}
        LIMIT 1
    </select>

    <select id="selectUserByContact"
            resultType="com.bsh.projectwemeet.entities.UserEntity">
        SELECT `email`             AS `email`,
               `name`              AS `name`,
               `nickname`          AS `nickname`,
               `contact`           AS `contact`,
               `admin_flag`        AS `isAdmin`,
               `birth`             AS `birth`,
               `registered_at`     AS `registeredAt`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `gender`            AS `gender`,
               `password`          AS `password`
        FROM `wemeet_project`.`users`
        WHERE BINARY `contact` = #{contact}
        LIMIT 1
    </select>

    <select id="selectContactCodeByContactCodeSalt"
    parameterType="com.bsh.projectwemeet.entities.RegisterContactCodeEntity"
    resultType="com.bsh.projectwemeet.entities.RegisterContactCodeEntity">
        SELECT `index`        AS `index`,
               `contact`      AS `contact`,
               `code`         AS `code`,
               `salt`         AS `salt`,
               `created_at`   AS `createdAt`,
               `expires_at`   AS `expiresAt`,
               `expired_flag` AS `isExpired`
        FROM `wemeet_project`.`register_contact_codes`
        WHERE `contact` = #{contact}
          AND BINARY `code` = #{code}
          AND BINARY `salt` = #{salt}
        LIMIT 1
    </select>

    <select id="selectPasswordByEmail"
    resultType="com.bsh.projectwemeet.entities.UserEntity">
        SELECT `password` AS `password`
        FROM `wemeet_project`.`users`
        WHERE `email` = #{email}
        LIMIT 1
    </select>

    <update id="updateUser"
    parameterType="com.bsh.projectwemeet.entities.UserEntity">
        UPDATE `wemeet_project`.`users`
        SET `name` = #{name},
            `nickname` = #{nickname},
            `contact` = #{contact},
            `admin_flag` = #{isAdmin},
            `birth` = #{birth},
            `registered_at` = #{registeredAt},
            `address_postal` = #{addressPostal},
            `address_primary` = #{addressPrimary},
            `address_secondary` = #{addressSecondary},
            `gender` = #{gender},
            `password` = #{password}
        WHERE `email` = #{email}
        LIMIT 1
    </update>

    <update id="updateContactCode"
    parameterType="com.bsh.projectwemeet.entities.RegisterContactCodeEntity">
        UPDATE `wemeet_project`.`register_contact_codes`
        SET `contact`      =#{contact},
            `code`         = #{code},
            `salt`         = #{salt},
            `created_at`   = #{createdAt},
            `expires_at`   = #{expiresAt},
            `expired_flag` = #{isExpired}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <update id="updatePassword"
    parameterType="com.bsh.projectwemeet.entities.UserEntity">
        UPDATE `wemeet_project`.`users`
        SET `password` = #{password}
        WHERE `email` = #{email}
        LIMIT 1
    </update>

    <update id="updateContact"
    parameterType="com.bsh.projectwemeet.entities.UserEntity">
        UPDATE `wemeet_project`.`users`
        SET `contact` = #{contact}
        WHERE `email` = #{email}
        LIMIT 1
    </update>

    <update id="updateAddress"
            parameterType="com.bsh.projectwemeet.entities.UserEntity">
        UPDATE `wemeet_project`.`users`
        SET `address_postal` = #{addressPostal},
            `address_primary` = #{addressPrimary},
            `address_secondary` = #{addressSecondary}
        WHERE `email` = #{email}
        LIMIT 1
    </update>
</mapper>