<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsh.projectwemeet.mappers.ProfileMapper">
    <insert id="insertProfile"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.bsh.projectwemeet.entities.ProfileEntity">
        INSERT INTO `wemeet_project`.`mypages` (email, content, profile_thumbnail, profile_thumbnail_mime,
                                                created_at, updated_at, nickname, contact, register_by)
        VALUES (#{email},
                #{content},
                #{profileThumbnail},
                #{profileThumbnailMime},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                IFNULL(#{updatedAt}, DEFAULT(`updated_at`)),
                #{nickname},
                #{contact},
                #{registerBy})
    </insert>
    <select id="selectProfileIndex"
    resultType="com.bsh.projectwemeet.entities.ProfileEntity">
        SELECT `index` AS `index`,
               `email` AS `email`,
               `content` AS `content`,
               `profile_thumbnail` AS `profileThumbnail`,
               `profile_thumbnail_mime` AS `profileThumbnailMime`,
               `created_at` AS `createdAt`,
               `updated_at` AS `updateAt`,
               `nickname` AS `nickname`,
               `contact` AS `contact`,
               `register_by` AS `registerBy`
        FROM `wemeet_project`.`mypages`
        WHERE `index` = #{index}
    </select>

    <select id="selectAll"
    resultType="com.bsh.projectwemeet.entities.UserEntity">
        SELECT `email` AS  `email`,
               `name` AS `name`,
               `nickname` AS `nickname`,
               `contact` AS `contact`,
               `admin_flag` AS `isAdmin`,
               `birth` AS `birth`,
               `address_postal` AS `addressPostal`,
               `address_primary` AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `gender` AS `gender`,
               `password` AS `password`
        FROM `wemeet_project`.`users`
        WHERE `email` = #{email}
        LIMIT 1
    </select>
</mapper>