<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsh.projectwemeet.mappers.RecoverAccountMapper">

    <insert id="insertRecoverContactCode"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.bsh.projectwemeet.entities.RecoverContactCodeEntity">
        INSERT INTO `wemeet_project`.`recover_contact_codes`(`contact`, `code`, `salt`, `created_at`, `expires_at`,
                                                             `expired_flag`, `name`)
        VALUES (#{contact},
                #{code},
                #{salt},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{expiresAt},
                IFNULL(#{isExpired}, DEFAULT(`expired_flag`)),
                #{name})
    </insert>

    <select id="selectUserByContactName"
            resultType="com.bsh.projectwemeet.entities.UserEntity">
        SELECT `email`             AS `email`,
               `name`              AS `name`,
               `nickname`          AS `nickname`,
               `contact`           AS `contact`,
               `admin_flag`        AS `isAdmin`,
               `birth`             AS `birth`,
               `registered_at`     AS `registeredAt`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `gender`            AS `gender`,
               `password`          AS `password`
        FROM `wemeet_project`.`users`
        WHERE BINARY `contact` = #{contact}
          AND BINARY `name` = #{name}
        LiMIT 1
    </select>

    <select id="selectRecoverContactCodeByCodeByContactCodeSalt"
            parameterType="com.bsh.projectwemeet.entities.RecoverContactCodeEntity"
            resultType="com.bsh.projectwemeet.entities.RecoverContactCodeEntity">
        SELECT `index`        AS `index`,
               `contact`      AS `contact`,
               `code`         AS `code`,
               `salt`         AS `salt`,
               `created_at`   AS `createdAt`,
               `expires_at`   AS `expiresAt`,
               `expired_flag` AS `isExpired`,
               `name`         AS `name`
        FROM `wemeet_project`.`recover_contact_codes`
        WHERE BINARY `contact` = #{contact}
          AND BINARY `code` = #{code}
          AND BINARY `salt` = #{salt}
          AND BINARY `name` = #{name}
        LiMIT 1
    </select>

    <update id="updateRecoverContactCode"
            parameterType="com.bsh.projectwemeet.entities.RecoverContactCodeEntity">
        UPDATE `wemeet_project`.`recover_contact_codes`
        SET `index`       = #{index},
            `contact`     = #{contact},
            `code`        = #{code},
            `salt`        = #{salt},
            `created_at`  =#{createdAt},
            `expires_at`  = #{expiresAt},
            `expired_flag`= #{isExpired},
            `name`        = #{name}
        WHERE `index` = #{index}
        LIMIT 1

    </update>


</mapper>