<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="/resources/stylesheets/login.css">
    <script defer th:src="@{/resources/scripts/login.js}"></script>
    <script defer th:src="@{/resources/scripts/emailCookie.js}"></script>


</head>
<body>
<div class="logo">
    <a href="">
        <img th:src="@{/resources/images/loginImags/wm (4).png}" alt="">
    </a>
</div>
<form id="loginForm">
    <label class="item">
        <i class="fa-solid fa-user fa-xl"></i>
        <input class="emailObject" name="email" type="email" placeholder="Username">
    </label>
    <div class="passwordBox">
        <i id="showIcon" class="fa-solid fa-eye fa-xl"></i>
        <i id="hideIcon" class="fa-solid fa-eye-slash fa-xl"></i>
        <label class="item">
            <input id="user_email" class="passwordObject" name="password" type="password" placeholder="************">
        </label>
    </div>
    <span class="warning" rel="emailWarning"></span>
    <span class="warning" rel="passwordWarning"></span>
    <span class="warning" rel="loginWarning"></span>
    <div class="login-button">
        <input class="login" type="submit" value="login">
    </div>
    <label class="item">
        <input id="keep_login" type="checkbox">
        <span class="_check-toggle"></span>
        <span>Remember me</span>
    </label>
    <div>
        <p></p>
    </div>
    <ul>
        <li>
            <span>WeMeet 회원이 아닌가요?</span>
            <a href="#">지금 가입하세요</a>
        </li>
        <li>
            <span>계정을 잊어버리셨나요?</span>
            <a href="#">지금 찾아보세요</a>
        </li>
    </ul>
    <!--테스트로 적어봤습니다 -->
    <!--테스트로 적어봤습니다 -->
    <!--테스트로 적어봤습니다 -->
</form>

</body>


<script>

</script>

</html>