<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/resources/stylesheets/recoverPassword.css">
    <script defer th:src="@{/resources/scripts/verifyCode.js}"></script>
</head>
<body>

<form id="verifyCode" style="display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <div style="border: 1px solid #9da3d6; font-size: 20px; padding: 20px 32px; align-items: center; display: flex; flex-direction: row; justify-content: center">
        <img src="/resources/images/loginImages/lastLogo.jpg" alt="" style="">
    </div>
    <span style="margin-top: 2rem; font-size: 1.5rem; display: flex; align-items: center; flex-direction: column; justify-content: center;">인증 코드를 입력해 주세요.</span>
    <input hidden name="email" type="hidden" th:value="${recoverEmailCode.getEmail()}">
    <input hidden name="salt" type="hidden" th:value="${recoverEmailCode.getSalt()}">
    <label class="label"
           style="margin-right: 1rem; margin-top: 2rem; display: flex; align-items: center; flex-direction: column; justify-content: center">
        <input style="height: 100%; font-size: 1.25rem;" autofocus class="_object-input" maxlength="6" name="EmailCode"
               placeholder="인증코드를 입력해 주세요." type="text">
    </label>
    <label class="submit"
           style="margin-top: 2rem; display: flex; align-items: center; flex-direction: column; justify-content: center;">
        <input style="color: white; font-size: 1rem; opacity: 0.8; background-color: #9da3d6" class="_object-button"
               type="submit" value="인증">
    </label>
</form>


<form id="passwordReset">
    <img class="Logo password" th:src="@{/resources/images/logoImages/logo-224x80.png}" alt="logo">
    <div class="passwordReset-form">
        <h2 class="title">비밀번호 변경</h2>
        <input disabled name="email" type="email" class="input" th:value="${recoverEmailCode.getEmail()}">
        <input disabled hidden name="code" type="text">
        <input disabled hidden name="salt" type="text" th:value="${recoverEmailCode.getSalt()}">

        <!-- 비밀번호 재입력  -->
        <div class="password-container">
            <input class="input" maxlength="50" name="password" placeholder="변경 비밀번호" type="password">
            <span class="openEye-icon">
                 <img class="openEye" th:src="@{/resources/images/recoverPassword/eye.png}" alt="눈 아이콘">
            </span>
            <span class="closeEye-icon">
                 <img class="closeEye" th:src="@{/resources/images/recoverPassword/closeEye.png}" alt="눈 아이콘">
            </span>

        </div>

        <span class="warning password" rel="passwordWarning"></span>
        <input autocomplete="off" class="input" maxlength="50" name="passwordAgain" placeholder="변경 비밀번호 확인"
               type="password">
        <span class="warning password" rel="passwordAgainWarning"></span>
        <div class="button-container">
            <input class="submit _color-concept" name="send" type="submit" value="재설정">
        </div>
        <img class="mini" th:src="@{/resources/images/logoImages/logo-224x80.png}">
    </div>
</form>

<form id="PasswordCover">
    <div class="cover">
        <div class="cover-text">비밀번호가 변경되었습니다</div>
        <a class="link" href="/">확인</a>
    </div>
</form>


</body>
</html>

