@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
    /*border: 1px solid red;*/
    text-decoration: none;
    margin: 0;
    padding: 0;
}




html {
    scroll-behavior: smooth;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

}

body{
    background-color: white;

    scroll-behavior: smooth;
    transition-duration: 550ms;
    transition-property: opacity;
    transition-timing-function: ease;
    margin: 0 auto;
}

@media screen and (min-width: 521px) and (max-width: 951px) {


    ._container {
        margin-bottom: 3rem;
        margin-top: 3rem;
        padding: 0 3rem;
        position: relative;
    }


    #topMenuContainer > .top-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        justify-content: flex-end;
        list-style-type: none;
        margin-block: unset;
        margin-inline: unset;
        margin-bottom: 1.5rem;
        padding-inline: unset;
        padding: 1rem 0 0 0;
    }

    #topMenuContainer > .top-menu > .item > .link {
        color: #000;
        font-family: 'Humanbumsuk', sans-serif;
        font-size: 1.5rem;
    }

    #topMenuContainer > .top-menu > .item > .empty-space {

    }

    #topMenuContainer > .top-menu > .item + .item {
        margin-left: 1.75rem;
    }

    #headerContainer {
        top: 0;
        background-color: var(--concept-color-light);
        overflow: hidden;
        z-index: 100;
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    #headerContainer > .header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    #headerContainer > .header > .menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        margin-block: unset;
        margin-inline: unset;
        padding-inline: unset;
    }

    #headerContainer > .header > .menu > .item + .item {
        margin-left: 0.75rem;
    }

    #headerContainer > .header > .menu > .item > a > .profile {
        position: relative;
        background-color: white;
        object-fit: cover;
        border-radius: 10rem;
        width: 40px;
        height: 40px;
    }

    #headerContainer > .header > .menu > .item > a > .profile > img {
        border-radius: 10rem;
        width: 100%;
        height: 100%;
    }

    #headerContainer > .header > .menu > .item > button {
        border: 0;
        background-color: white;
    }

    #headerContainer > .header > .menu > .item > .icon-text-button {
        align-items: center;
        display: flex;
        color: #aa4d3b;
        flex-direction: row;
        justify-content: flex-start;
    }

    .text {
        color: black;
        font-weight: 500;
        white-space: nowrap;
    }


    #headerContainer > .header > .menu > .item > .icon-text-button > .icon-box > .icon {
        width: 60%;
        height: 60%;
        align-items: center;
        margin-top: 0.5rem;
    }

    #headerContainer > .header > .empty-box {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-start;
        margin: 0 3rem;
    }


    .introduce_article {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .notice-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: #FB6161;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .notice-text {
        font-weight: 550;
        font-size: 1.2rem;
        margin: 0.5rem;
    }

    .margin {
        margin-bottom: 0.9rem;
    }

    .article-category {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

    .article-category > .category {
        display: none;
    }


    .article-category > .category-750px {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
    }

    .article-category > .category-750px > ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center; /* 수직 정렬 */
        justify-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 1.2rem;
        cursor: default;
    }

    .category-750px > ul > a {
        padding: 1rem;
    }

    .category-img {
        width: 25px;
        height: 25px;
        margin-right: 0.5rem;
        object-fit: cover;
    }

    .article-category > .category-750px > ul > .articleLink750px {
        text-decoration: none;
        padding-bottom: 5px; /* 원하는 여백 크기 설정 */
        cursor: pointer;
        margin: 1rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transition: transform 0.3s;
        border-bottom: 1px solid rgba(0, 0, 0, 0); /* 초기에 투명도 0으로 설정 */
    }




    .under {
        border-bottom-color: rgba(0, 0, 0, 1); /* 밑줄 색상 설정 */
        border-bottom-width: 3px; /* 밑줄 두께 설정 */
        border-bottom-style: solid; /* 밑줄 스타일 설정 */
        transition: border-bottom-color 0.3s, border-bottom-width 0.3s, margin-top 0.3s ease;
    }

    .introduce_article > .category > .menu:hover {
        cursor: pointer;
    }

    .search-box > .search > .select {
        padding: 0.3rem;
        border-radius: 0.2rem;
    }

    .search-box > .search > .input {
        padding: 0.3rem;
        border-radius: 0.2rem;
    }

    .search-box > .search > .button {
        background-color: #FB6161;
        border: none;
        padding: 0.3rem;
        border-radius: 0.2rem;
        color: white;
        font-weight: 500;
    }

    .search-box > .search > .button:hover {
        cursor: pointer;
    }


    .article-box {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f4f3f1;
    }

    .article-box-grid {
        display: grid;
        margin: 1rem;
        grid-template-columns: repeat(1, 1fr);
        align-items: center; /* 수직 정렬 */
        justify-items: center;
        grid-gap: 1rem;
        background-color: #f4f3f1;
        padding: 1rem 0 0.5rem 0;
    }


    .article-list > .article-link {
        /*border: 1px solid red;*/
        width: 29rem;
        height: 13rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 1rem;

        gap: 1rem; /* 이미지와 텍스트 사이의 간격 */
    }


    .article-list > .article-link > .article-thumbnail {
        width: 13rem;
        height: 13rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.3rem;
    }

    .article-list > .article-link > .article-thumbnail > .thumbnail {
        width: 13rem;
        height: 13rem;
        border-radius: 15px;
    }

    .article-content-box {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 2rem;
        margin-top: 2rem;
    }

    .article-tag {
        display: block;
        margin-bottom: 1.5rem;
    }

    .tag {
        border-radius: 0.7rem;
        margin: 0rem 0.8rem 0rem 0;
        background-color: #eaeaea;
        font-weight: 500;
        color: black;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .tag.comment {
        color: white;
        font-weight: 500;
        background-color: #ff7257;
    }

    .article-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1.1rem;
        width: 200px;
    }

    .article-map {
        font-weight: 800;
    }


    .article-map > .article-location {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.3rem;
        font-size: 0.8rem;
        width: 200px;
    }

    .article-map > .article-location > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .article-map > .article-location > .location, .day-img, .time-img {
        width: 1.35rem;
        height: 1.35rem;
        margin-right: 0.3rem;
    }


    h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .article-human {
        align-items: center;
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
    }

    .article-human > .Profile {
        object-fit: cover;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        margin: -0.15rem;
        border: 0.2rem solid white;
    }


    .article-human > .limit-image {
        width: 2rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }

    .article-human > .number {
        white-space: nowrap;
        margin-top: 0.3rem;
    }

    .cover {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
        border-radius: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0.5; /* 이미지 투명도 50%*/
        flex-shrink: 1;
    }

    a {
        color: black;
    }



    /*------------------------------------------------------*/
}
