.article-searchResult {
    width: 28rem;
    height: 16rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 1rem 0rem 1rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;

    gap: 1rem; /* 이미지와 텍스트 사이의 간격 */
}

.search-box {
    margin: 0 auto;
}

.search-box > .search {
    margin: 1rem;
}

.search-box > .search > .select {
    width: 100px;
    height: 33px;
    border-radius: 0.2rem;
}

.search-box > .search > .input {
    width: 180px;
    height: 28px;
    border:1px solid #ddd;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.search-box > .search > .input::placeholder {
    color: #999; /* 원하는 색상으로 변경해주세요 */
}

.search-box > .search > .button {
    background-color: #FB6161;
    border: none;
    width: 56px;
    height: 33px;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: 500;
}

.search-box > .search > .button:hover {
    cursor: pointer;
}



#footer {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer > .wrap {
    padding-top: 2rem;
    width: 75rem;
    height: 10rem; /* Adjust the height according to your needs */
    /*background-color: aqua;*/
    display: grid;
    row-gap: 3rem;
    column-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 11.375rem;
}

#footer > .wrap > .grid-twin {
    /*background-color: #f0a0a0;*/
    color: #666;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.43;
}

#footer > .wrap > .grid-twin > .about-info > .about-a-tag {
    color: black;
}

#footer > .wrap > .grid-twin > .small-info {
    font-size: 0.75rem;
    margin-bottom: 3rem;
}

#footer > .wrap > .grid-twin.big {
    grid-column-start: 3;
    grid-column-end: 5;
}

#footer > .wrap > .grid-twin > .about-info > .secone-info {
    padding-left: -2rem;
}

#footer > .wrap > .grid-twin > .about-info > .last-a-tag {
    color: black;
}


