@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
@media screen and (max-width: 570px) {

    a {
        color: black;
        text-decoration: none;
    }

    #headerContainer {
        top: 0;
        background-color: var(--concept-color-light);
        overflow: hidden;
        z-index: 100;
        padding: 0.5rem;
        max-width: 580px;
        margin: 0 auto;
    }

    #headerContainer > .header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    #headerContainer > .header > .menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        margin-block: unset;
        margin-inline: unset;
        padding-inline: unset;
    }

    #headerContainer > .header > .menu > .item + .item {
        margin-left: 0.75rem;
    }

    #headerContainer > .header > .menu > .item > a > .profile {
        position: relative;
        background-color: white;
        object-fit: cover;
        border-radius: 10rem;
        width: 40px;
        height: 40px;
    }
    #headerContainer > .header > .menu > .item > a > .profile > img {
        border-radius: 10rem;
        width: 100%;
        height: 100%;
    }

    #headerContainer > .header > .menu > .item > button {
        border: 0;
        background-color: white;
    }

    #headerContainer > .header > .menu > .item > .icon-text-button {
        align-items: center;
        display: flex;
        color: #aa4d3b;
        flex-direction: row;
        justify-content: flex-start;
    }

    .text{
        color:black;
        font-family: 'Humanbumsuk', sans-serif;
        white-space: nowrap;
        font-size: 1.3rem;
        font-weight: 500;
    }


    #headerContainer > .header > .menu > .item > .icon-text-button > .icon-box > .icon {
        width: 60%;
        height: 60%;
        align-items: center;
        margin-top: 0.5rem;
    }

    #headerContainer > .header > .empty-box {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-start;
        margin: 0 3rem;
    }

    button:hover .tooltip{
        opacity: 1;
        visibility: visible;
    }

    button > a > span{
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    button > a > span > .tooltip {
        white-space: nowrap;
        position: absolute;
        visibility: hidden;
        font-size: 0.9rem;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    .fa-lg{
        font-size: 1.2rem;
    }
    i:hover {
        color: #FB6161;

    }

    /*------------------------------------------------------------------------------------------------------------------*/

    .slider-container {
        width: 27rem;
        height: 15rem;
        border-radius: 0.375rem;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: -1.5rem;
    }

    .slider-container > .slider {

        display: flex;
        flex-direction: row;
        transition: transform 1s;
    }

    .slider-container > .slider > .slide {
        object-fit: cover;
        width: 100%;
        height: 15rem;
        flex-shrink: 0;
    }

    .slider-container > .slider > .slide > img {
        object-fit: cover;
        width: 100%;
        height: 15rem;
        /*object-fit: cover;*/
    }


    .slide1 > video {
        object-fit: cover;
        width: 100%;
        height: 15rem;
    }


    .navigation-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
    }

    .navigation-button {
        cursor: pointer;
        width: 4rem;
        height: 0.25rem;
        border-radius: 0.25rem;
        background-color: white;
        z-index: 10;
    }

    .navigation-button.active {
        font-weight: bold;
    }

    .for-margin {
        margin-right: 1rem;
    }

    /*----------------------------------------------------------------------------------------*/
    .categoryContainer {
        margin: 0 auto;
    }

    .categoryContainer > .category {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .categoryContainer > .category > .title {
        color: black;
        font-family: 'Humanbumsuk', sans-serif;
        font-size: 2rem;
        font-weight: 300;
    }

    .categoryContainer > .category > .grid {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        list-style-type: none;
        margin-block: unset;
        margin-inline: unset;
        padding-inline: unset;
    }

    .categoryContainer > .category > .grid > .item > .link {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .categoryContainer > .category > .grid > .item > .link > .image {
        width: 50%;
        height: 80%;
        border-radius: 0.5rem;
        margin-bottom: 0.8rem;
    }


    .categoryContainer > .category > .grid > .item > .link > .text {
        color: black;
        font-family: 'Humanbumsuk', 'sans-serif';
        font-size: 1.2rem;
    }

    /*---------------------------------------------------------------------------------------------------------*/
    .article-list-header {
        color: black;
        font-family: 'Humanbumsuk', sans-serif;
        font-size: 1.5rem;
        margin: 3rem 0 2rem 0;
    }

    .article-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0.375rem;
        overflow: hidden;
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }

    .article-container > .article-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center; /* 수직 정렬 */
    }

    .article-container > .article-box > .article-list {
        width: 23rem;
        height: 11rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(244, 244, 244);
        border-radius: 0.5rem;
        padding: 0.8rem;
        margin: 0.5rem;
    }

    .article-container > .article-box > .article-list > .article-thumbnail {
        width: 10rem;
        height: 10rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(244, 244, 244);

    }

    .article-container > .article-box > .article-list > .article-thumbnail > .thumbnail {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: 15px;
    }

    .article-content-box {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0 0rem 0;
        background-color: rgb(244, 244, 244);
    }

    .article-tag {
        display: block;
        background-color: rgb(244, 244, 244);

    }

    .article-tag > .article-category {
        border-radius: 0.5rem;
        font-weight: bold;
        color: black;
        background-color: white;
        font-size: 0.8rem;
        padding: 0.4rem;
    }

    .article-tag > .hashTag {
        border-radius: 0.5rem;
        margin: 0 0.5rem 0 0;
        font-weight: bold;
        padding: 0.4rem;
        color: white;
        background-color: #ff7257;
        font-size: 0.8rem;
    }

    .article-content-box > .article-title {
        background-color: rgb(244, 244, 244);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;
        font-weight: bold;
        margin: 1rem 0 0.5rem;
        width: 110px;
    }

    .article-content-box > .article-map {
        font-weight: 800;
        background-color: rgb(244, 244, 244);
    }


    .article-content-box > .article-map > .article-location {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.75rem;
        margin: 0.3rem 0 0.3rem 0rem;
        background-color: rgb(244, 244, 244);
        width: 180px;
    }

    .article-content-box > .article-map > .article-location > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: rgb(244, 244, 244);
    }


    .article-content-box > .article-map > .article-location >
    .location, .day-img, .time-img {
        margin: 0 0.3rem 0 0;
        width: 1.2rem;
        height: 1.2rem;
        background-color: rgb(244, 244, 244);
    }


    .article-content-box > .article-human {
        align-items: center;
        display: flex;
        flex-direction: row;
        background-color: rgb(244, 244, 244);
    }

    .article-content-box > .article-human > .Profile-Picture {
        background-color: rgb(244, 244, 244);
    }

    .article-content-box > .article-human > .Profile-Picture > .profile {
        object-fit: cover;
        border-radius: 100%;
        width: 1.5rem;
        height: 1.5rem;
        margin: -0.15rem;
        border: 0.2rem solid white;
        background-color: rgb(244, 244, 244);
    }


    .article-content-box > .article-human > .limit-image {
        width: 1.5rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        background-color: rgb(244, 244, 244);
    }

    .article-human > .number {
        font-size: 0.8rem;
        white-space: nowrap;
        background-color: rgb(244, 244, 244);
    }

    .article-human > .number > .map-item {
        background-color: rgb(244, 244, 244);
    }

    .more-button {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1.5rem 0 1.5rem 0;
    }

    .more-button > a {
        border: 1px solid rgb(244, 244, 244);
        border-radius: 68px;
        width: 8rem;
        height: 3rem;
        margin-bottom: 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgb(244, 244, 244);
    }

    .more-button > a > p {
        background: rgb(244, 244, 244);
        font-size: 1.2rem;
    }

    #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-weight: bold;
        font-size: 12px;
        border-top: 1px solid black;
    }

    #footer > .wrap {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #footer > .wrap > .grid-twin {
        line-height: 20px;
        color: #666;
    }

    #footer > .wrap > .grid-twin > p {
        margin-bottom: 0.5rem;
    }

    #footer > .wrap > .grid-twin > .about-a-tag {
        color: #666
    }

    #footer > .wrap > .grid-twin > p > a {
        text-decoration: none;
        color: black;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.43;
    }

    #footer > .wrap > .grid-twin.big {
        grid-column: 1 / span 2;
    }
}
/*-----------------------------------------------------------------------------------------------------*/
